div.properties h4 {
    color: #87a6b5;
}

div.properties a.sf-line-button:not(:hover) {
    color: #87a6b5;
}

div.properties div.card-header {
    padding: 5px;
}

div.properties .panel-group {
    margin-bottom: 5px;
}

div.validators h4 {
    color: #e6b600;
}

div.validators a.sf-line-button:not(:hover) {
    color: #e6b600;
}

div.validators div.card-header {
    padding: 2px;
}

div.validators .panel-group {
    margin-bottom: 5px;
}

.small-codemirror .CodeMirror {
    height: auto;
}

.database-mapping {
    color: #439b43;
}