tr.dynamic-error-line {
    cursor: pointer;
}


.error-block h3 {
    margin-top: 0px;
    color: var(--bs-body-color);
}

.mini-alert {
    margin: 0 5px;
    padding: 0 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: var(--bs-secondary-color);
}
