.progressContainer
{
	padding: 3px;
	border: solid 1px var(--bs-border-color);
	width: 250px;
	height:15px;
}

.progressBar
{
	background-color: var(--bs-info);
	width: 0px;
	height: auto;
}

span.process-contextual-icon {
    font-size: initial;
    margin-left: 5px;
    color: var(--bs-secondary);
}

span.process-contextual-icon:hover {
    color: var(--bs-secondary);
}

.tooltip-process .tooltip-inner {
	max-width: initial;
	white-space: normal;
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: var(--bs-border-color);
	box-shadow: var(--bs-box-shadow);
}
