@using System.Configuration
@using Signum.Web.Properties

@section head
{
    @Html.ScriptsJs(
            "~/signum/Scripts/SF_Globals.js",
            "~/signum/Scripts/SF_Popup.js",
            "~/signum/Scripts/SF_Lines.js",
            "~/signum/Scripts/SF_ViewNavigator.js",
            "~/signum/Scripts/SF_FindNavigator.js",
            "~/signum/Scripts/SF_Validator.js",
            "~/signum/Scripts/SF_Operations.js")
}

@{ TypeContext modelTC = (TypeContext)Model;}
@using (Html.BeginForm())
{
    
    <div id="divNormalControl">
        @{ Html.RenderPartial(Navigator.Manager.NormalControlUrl, ViewData);}
    </div>
    
    <div id="divASustituir">
    </div>
    <div class="clear">
    </div>   
} 