@using System.Configuration

@model TypeContext

@using (Html.BeginForm())
{
    var ident = Model.UntypedValue as Entity;
    <div id="divMainPage" @Html.Raw(ident != null ? "data-isnew=\"" + ident.IsNew.ToString().ToLower() + "\"" : "") class="form-horizontal">
        @if (string.IsNullOrEmpty(ViewBag.Title))
        {
            ViewBag.Title = Model.UntypedValue?.ToString();
        }
        
        @{ Html.RenderPartial(Navigator.Manager.NormalControlView);}
    </div>
}