@section head
{
    @Html.ScriptsJs(Navigator.Manager.DefaultScripts().ToArray())
}
@using (Html.BeginForm())
{
    <h2>
        <span class="sf-entity-title">@(ViewBag.Title)</span>
    </h2>
     Html.RenderPartial(ViewData[ViewDataKeys.PartialViewName].ToString());
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryAjax()

    <div class="clear"></div>   
}