@model Context

@using (Html.BeginForm())
{
    <div id="divSearchPage">
        <h2>
            <span class="sf-entity-title">@(ViewBag.Title)</span>
            <a id="@Model.Compose("sfFullScreen")" class="sf-popup-fullscreen" href="#">
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </h2>
        @{ ViewData[ViewDataKeys.AvoidFullScreenButton] = true; }
        @Html.Partial(Finder.Manager.SearchControlView)
        @Html.AntiForgeryToken()
    </div>
}