@using Signum.Entities.Translation
@using (var tcc = Html.TypeContext<TranslatorUserCultureEntity>())
{
    <div class="row form-vertical">
        <div class="col-sm-6">
            @Html.EntityCombo(tcc, d => d.Culture)
        </div>
        <div class="col-sm-6">
            @Html.ValueLine(tcc, d => d.Action)
        </div>
    </div>
}