.draft-toolbar {
    border: 1px solid #ddd;
    border-radius: 2px;
    z-index: 2;
    box-sizing: border-box;
    margin-top: -17px;
    margin-left: -17px;
    margin-right: -17px;
    margin-bottom: 7px;
    background: #fbfbfb;
}

.draft-buttonWrapper {
    display: inline-block;
}

.draft-button {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
    line-height: 10px;
}

    .draft-button svg {
        fill: #888;
    }

    .draft-button:hover, .draft-button:focus {
        background: #f3f3f3;
        outline: 0;
    }

.draft-active {
    color: #6a9cc9;
}

    .draft-active svg {
        fill: #6a9cc9;
    }


.html-editor blockquote {
    margin: 0 0 1rem;
    border-left: 4px solid #ddd;
    padding-left: 10px;
}
