.user-profile-photo {
    border: 3px solid white;
    box-shadow: 1px 1px 12px #d5d5d5;
    border-radius: 50% !important;
}

.user-profile-photo img {
    object-fit: cover;
    width: 100%;
    border-radius: 50% !important;
}

.small-user-profile-photo {
    border-radius: 50% !important;
}
.small-user-profile-photo img {
    object-fit: cover;
    border-radius: 50% !important;
}
