.user-circle {
    border-radius: 100% !important;
    width: 22px;
    height: 22px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    vertical-align: middle;
}
