.sf-profiler-chart svg
{
    shape-rendering: crispEdges;
}
.sf-profiler-chart .entry
{
    cursor: pointer;
}
.sf-profiler-chart .shape-before
{
    opacity: 0.3;
    fill: var(--bs-body-color);
}
.sf-profiler-chart .label
{
    font-size: 12px;
}
