@media (prefers-reduced-motion: reduce) {
    .blinking {
        animation: none !important;
    }
}

.blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
