/* Default CSS rules are embedded in Signum.Web and are accessible via Signum/Content/LineStyles.css */
/* Feel free to override them as you wish here */

body 
{
    font-family: Arial, Helvetica, Verdana;
    font-size: 13px;   
    text-align: center; 
    background-color: #eee;
}

#wrap
{
    width: 80%;
    min-width: 800px;
    margin: auto;
    text-align: left;    
    background-color: #eee;
}

#header
{
    height: 40px;
    padding: 20px 0;
    background-color: #EEE;
}

#header a
{    
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
    text-decoration: none;
    color: #000;
}

#main 
{
	height: 100%;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}

#content
{
	margin-left: 145px;
	padding: 10px;
	min-height: 400px;
	border-left: 1px solid #CCC;
}

#footer
{
    padding: 5px 0;
    text-align: center;    
}

h1 
{
    font-size: 1.5em;
    color: black;
}


/*Menu*/
#menu 
{
    float: left;
    width: 145px;
}
li
{
    padding-left: 5px;    
}
li.l1 > span
{
    display: block;
    font-weight: bold;
    margin: 20px 0 5px 0;
    padding: 5px;
    text-transform: uppercase;
    color: #555;
    font-size: 1.2em;
}
li.l1:first-child > span
{
    margin: 0px 0 5px 0;
}
li.l2
{
    text-decoration: none;    
    padding-top: 3px;
}
#menu a
{
    text-decoration: none; 
}