
.sf-news-toasts .toast {
    backdrop-filter: blur(5px);
}

.sf-news-badge {
    padding: 1px 2px;
    position: relative;
    top: -10px;
    left: -5px;
    border-radius: 10px !important;
}

.sf-news-toasts {
    position: absolute;
    top: 52px;
    right: 5px;
    z-index: 100;
    min-width: 350px;
}

    .sf-news-toasts .toast:not(:last-child) {
        margin-bottom: 0.25rem;
    }

.sf-news-signature {
    display: block;
    text-align: right;
}


.sf-bell-container {
    cursor: pointer;
    user-select: none;
}

.sf-bell {
}

.sf-bell.open {
    color: #616A6B
}

.sf-bell.active {
    color: #D4AC0D
}

.sf-bell.active.open {
    color: #9C640C
}

.sf-html-editor {
    box-sizing: unset !important;
    border: none !important;
    padding: 0px !important;
    border-radius: 0px !important;
    margin-bottom: 0em !important;
    box-shadow: none !important;
}

.sf-html-editor .public-DraftEditor-content {
    min-height: unset !important;
    height: unset !important;
}

.DraftEditor-root {
    height: unset !important;
}
