@using Signum.Entities.Mailing
@using Signum.Web.Mailing
@Html.ScriptCss("~/Mailing/Content/Mailing.css")

@using (var ec = Html.TypeContext<EmailMasterTemplateDN>())
{
    @Html.ValueLine(ec, e => e.Name)
    <div class="clearall"></div>
    <div class="sf-email-replacements-container sf-tabs-repeater">
        @Html.EntityTabRepeater(ec, e => e.Messages, er =>
        {
            er.PreserveViewData = true;
        })
    </div>
}