@using Signum.Entities.Mailing
@using Signum.Entities.DynamicQuery
@using Signum.Web.UserAssets
@using Signum.Web.Mailing
@using (var tc = Html.TypeContext<EmailTemplateContactEntity>())
{
    
    using(var sc = tc.SubContext())
    {
        sc.LabelColumns = new BsColumn(4);
        <div class="row">
            <div class="col-sm-2" style="text-align: right;padding: 8px;">
                <label>@Html.PropertyNiceName((EmailTemplateEntity e)=>e.From)</label>
            </div>
            <div class="col-sm-5">
                   @Html.ValueLine(sc, c => c.EmailAddress)
            </div>
            <div class="col-sm-5">
                  @Html.ValueLine(sc, c => c.DisplayName)
            </div>
        </div>
    }
    
    using (var qtTc = tc.SubContext(etTc => etTc.Token))
    {
    @Html.FormGroup(qtTc, null, "Email Owner", Html.QueryTokenDNBuilder(qtTc, MailingClient.GetQueryTokenBuilderSettings(
        (QueryDescription)ViewData[ViewDataKeys.QueryDescription], SubTokensOptions.CanElement)))
    }
}