@using Signum.Entities.Mailing
@using Signum.Entities.DynamicQuery
@using Signum.Web.UserAssets

@using (var tc = Html.TypeContext<EmailTemplateRecipientEntity>())
{
    using (var sc = tc.SubContext())
    {
        sc.LabelColumns = new BsColumn(4);
    <div class="row">
        <div class="col-sm-2" style="text-align: right;">
            <label>
                @Html.ValueLine(tc, c => c.Kind, vl => vl.FormGroupStyle = FormGroupStyle.None)
            </label>
        </div>
        <div class="col-sm-5">
            @Html.ValueLine(sc, c => c.EmailAddress)
        </div>
        <div class="col-sm-5">
            @Html.ValueLine(sc, c => c.DisplayName)
        </div>
    </div>
    }

    using (var qtTc = tc.SubContext(etTc => etTc.Token))
    {
    @Html.FormGroup(tc, null, "Email Owner", Html.QueryTokenDNBuilder(qtTc, SearchControlHelper.GetQueryTokenBuilderSettings(
            (QueryDescription)ViewData[ViewDataKeys.QueryDescription], SubTokensOptions.CanElement)))
    }
}