@using Signum.Entities.Mailing
@using Signum.Web.Mailing
@Html.ScriptCss("~/Mailing/Content/Mailing.css")

@using (var ec = Html.TypeContext<EmailMasterTemplateEntity>())
{
    @Html.ValueLine(ec, e => e.Name)
    <div class="clearall"></div>
    @Html.EntityTabRepeater(ec, e => e.Messages, er =>
        {
            er.PreserveViewData = true;
        })
}