.btn.btn-help
{
    color: purple;
    border: 1px solid purple;
    font-weight: bold;
}

    .btn.btn-help.btn-help-widget
    {
        border-radius: 100px;
        height: 20px;
        margin-top: -2px;
    }

    .btn.btn-help.hasItems
    {
        border: 2px solid orange;
    }


.help-tooltip
{
    border: 1px solid rgb(137, 2, 137);
    background-color: rgba(137, 2, 137, 0.3);
    z-index: 10;
}

.help-tooltip.description
{
    border: 1px solid orange;
    background-color: rgba(255, 165, 0, 0.4);
}

div.popover span.gray
{
    color:gray;
}
