ol.responsive-columns
{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

@media (min-width: 768px)
{
    ol.responsive-columns
    {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px)
{
    ol.responsive-columns
    {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1200px)
{
    ol.responsive-columns
    {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

ol.responsive-columns > li:nth-child(1) > h3
{
    margin-top: 0px;
}

.centered
{
    margin: 40px;
    text-align: center;
}

#syntax-help
{
    background: #fafafa;
    padding: 20px;
}

    #syntax-help > div > div > h3
    {
        text-align: center;
    }

.editable, .shortcut
{
    display: none;
    width: 100%;
}

.info
{
    opacity: .6;
}


span.wiki
{
    display:block;
}

h1 span.wiki
{
    display:initial;
}



@media (min-width: 768px)
{
    .dl-horizontal dt
    {
        width: 260px;
    }

    .dl-horizontal dd
    {
        margin-left: 280px;
        margin-bottom:5px;
    }

    h2.greyTitle
    {
        margin-left: 280px;
    }
}

h4.embedded
{
    margin-bottom: -20px;
    margin-left: 30px;
    background: #eee;
    margin-right: 10px;
    color: #999;
    padding: 2px;
    padding-left: 10px;
}

dl.embedded
{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eee;
}

dl.columns
{
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eee;
}

    dl.columns dt
    {
        color:gray;
    }

h2.greyTitle
{
    color: #aaa;
}

.btn-toolbar
{
    margin-top: 10px;
}

#form-search
{
    margin-top: 10px;
}

#form-search-big
{
    margin: 40px;
}

span.sf-wiki-error
{
    color:red;
    font-weight: bold;
}

.hash-selected
{
    background-color: rgb(167, 216, 242);
}