.st-tt-entry {
    border-bottom: 1px solid #ddd;
    list-style: none;
}

    .st-tt-entry .processName {
        font-size: 150%;
    }

    .st-tt-entry .numTimes {
        color: #666;
    }

    .st-tt-entry .max, 
    .st-tt-entry .med, 
    .st-tt-entry .min, 
    .st-tt-entry .last, 
    .st-tt-entry .sum {
        display: block;
        height: 10px;
        float: left;
        margin-right: 10px;
        margin-left: 0px;
    }

    .st-tt-entry .max {
        background: #b22222;
    }

    .st-tt-entry .med {
        background: #ff7722;
    }

    .st-tt-entry .min {
        background: #ffd700;
    }

    .st-tt-entry .last {
        background: #b27aff;
    }

    .st-tt-entry .sum {
        background: #597FFF;
    }

.leftBorder {
    border-left: 1px solid #eee;
}

#st-tt-entrys {
    width: 1200px;
}

    #st-tt-entrys .left {
        float: left;
    }


.sf-tt-entityName {
    color:gray;
    font-weight:bold;
}
