


.dropdown-divider {
    width: 100%;
}

.menu-item-0 {
    padding-left: 10px;
    padding-right: 10px;
}

body:not(.rtl) .menu-item-1{
    padding-left: 20px;
}

body.rtl .menu-item-1 {
    padding-right: 20px;
}

.menu-item-1 {
    background-color: #f3f3f3;
}

li.menu-item-1 > a {
    padding-top: 5px;
    padding-bottom: 5px;

}

.sidebar .divider {
    height: 2px;
    background-color: #e7e7e7;
}

.sidebar .dropdown-header{
    width: 100%;
}

.menu-item-1 {
    background-color: #f3f3f3;
}

li.menu-item-1 > a {
    padding-top: 5px;
    padding-bottom: 5px;

}

.sidebar .divider {
    height: 2px;
    background-color: #e7e7e7;
}

body:not(.rtl) .sidebar .dropdown-item .icon {
    width: 20px;
    margin-left: -5px;
}

body.rtl .sidebar .dropdown-item .icon {
    width: 20px;
}

.sf-cursor-pointer{
    cursor:pointer;
}
