.nav-item {
    position: relative;
}


.dropdown-divider {
    width: 100%;
}

.menu-item-0:not(.dropdown-item) {
    padding-left: 10px;
    padding-right: 10px;
}

body:not(.rtl) .menu-item-1 {
    padding-left: 30px;
}

body.rtl .menu-item-1 {
    padding-right: 30px;
}

.menu-item-1 {
    background-color: #f3f3f3;
}

li.menu-item-1 > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-item-header {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 30px 15px 7px 15px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    border-top: 2px solid black;
    box-shadow: 0px 1px 5px #e5e5e5;
    transition: all ease 250ms;
    width: calc(100% - 30px);
}

    .nav-item-header span {
        margin-left: 11px;
        margin-right: 25px;
    }

    .nav-item-header svg {
        height: 16px;
        width: 15px;
    }

    .nav-item-header .nav-item-float {
        position: fixed;
        left: 69px;
        background-color: #ffffffe6;
        padding: 5px 20px;
        border-radius: 6px;
        transform: translateY(-29px);
        box-shadow: 2px 2px 6px #00000052;
        font-weight: bold;
        border-left: 4px solid;
        display: none;
    }

    .nav-item-header:hover .nav-item-float {
        display: block;
    }

    .nav-item-header.mini {
        width: 37px;
        margin-left: 11px;
    }

.sidebar .divider {
    height: 2px;
    background-color: #e7e7e7;
}

.sidebar .dropdown-header {
    width: 100%;
}

.menu-item-1 {
    background-color: #f3f3f3;
}

li.menu-item-1 > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar .divider {
    height: 2px;
    background-color: #e7e7e7;
}

body:not(.rtl) .sidebar .dropdown-item .icon {
    width: 20px;
    margin-left: -5px;
}

body.rtl .sidebar .dropdown-item .icon {
    width: 20px;
}

.sf-cursor-pointer {
    cursor: pointer;
}

.toolbar-card {
    width: 100%;
    text-align: center;
    height: 180px;
}

.toolbar-card-container {
    width: 260px;
    padding: 1rem;
}

.menuItemCounter {
    position: absolute;
    margin-top: 1px;
    right: 10px;
}

.sidebar-collapsed .menuItemCounter {
    right: 0;
    bottom: 0;
}

.menuItemCounter a {
    display: none;
}

.menuItemCounter label {
    display: none;
}

.menuItemCounter .badge-secondary {
    background-color: var(--color-enfasis);
}

.menuItemCounter .text-muted {
    display: none;
}

.menuItemCounterNew {
    background-color: var(--color-enfasis);
    border-radius: 15px;
    position: absolute;
    margin-top: 1px;
    right: 10px;
    padding: 0px 5px;
    color: white;
    font-weight: bold;
}
