
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.js.map
*.js
Signum.Analyzer/packages/*
*.ncrunchproject
.vs/config/applicationhost.config
*/.vs/*
/Signum.MSBuildTask/packages/*
/.vs/*
/Signum.MSBuildTask/Binaries/*
/Signum.TSGenerator/Binaries/*
/Utils/CheckUrl/.vs/**
**/ts_out/**
/Extensions/Signum.Help/node_modules/.bin/marked
*/node_modules/**