.modal {
    backdrop-filter: blur(3px);
}

@media (prefers-reduced-motion: reduce) {
    .modal-backdrop {
        backdrop-filter: none;
    }
}

.modal-backdrop {
    --bs-backdrop-zindex: 1055; /*Same as modals*/
}
