.sf-profiler-chart svg
{
    shape-rendering: crispEdges;         
}
.sf-profiler-chart .entry
{
    cursor: pointer;
}
.sf-profiler-chart .shape-before
{
    opacity: 0.7;    
}
.sf-profiler-chart .label
{
    font-size: 12px;    
}