
.sf-filters-list > table.table {
    margin-bottom: 0px;
    width: auto;
}

div.hidden > .sf-query-token-builder > .sf-query-token-part .rw-widget-input,
div.hidden > label {
    opacity: .5;
}

select.form-control.sf-group-selector {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
}

.sf-user-filter {
    opacity: .3;
    transition: opacity .5s ease-in-out;
    padding: 0px 3px;
    vertical-align: top;
}

    .sf-user-filter.active {
        opacity: 1;
        border: 1px solid orange;
    }

    .sf-user-filter:hover {
        opacity: 1;
    }


.sf-pinned-filter-cell {
    background-color: rgb(255, 246, 230);
}


.sf-remove-filter-icon {
    min-width: 22px;
    text-align: center;
}
