
.sf-filters-list > table.table {
    margin-bottom: 0px;
    width: auto;
}

div.hidden > .sf-query-token-builder > .sf-query-token-part .rw-widget-input,
div.hidden > label {
    opacity: .5;
}

select.form-control.sf-group-selector {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
}

.sf-filters-list table th{
    white-space: nowrap;
}

.sf-user-filter {
    opacity: .3;
    transition: opacity .5s ease-in-out;
    padding: 0px 3px;
    vertical-align: top;
}

    .sf-user-filter.active {
        opacity: 1;
        border: 1px solid var(--bs-warning);
    }

    .sf-user-filter:hover {
        opacity: 1;
    }


.sf-pinned-filter-cell {
    background-color: var(--bs-warning-bg-subtle);
}


.sf-remove-filter-icon {
    min-width: 22px;
    text-align: center;
}

    .sf-remove-filter-icon .disable {
        cursor: default;
        opacity: 0;
    }
    .sf-filter-group{
        border: 1px solid var(--bs-border-color);
        background: var(--bs-secondary-bg) !important;
        color: var(--bs-body-color) !important;
    }
