.row-container {
    border: 1px solid silver;
}

.row-data {
    padding: 4px 8px;
}

.row-title {
    font-weight: bold;
    margin-right: 5px;
}

.row-selection {
    margin-right: 5px;
}

.row-header {
    background-color: #eee;
}

.row-mark-icon {
    margin-left: 5px;
    opacity: 0.8;
}

.sf-search-results.mobile .date-cell,
.sf-search-results.mobile .numeric-cell {
    float: right;
}

.sf-search-results.mobile .multi-line {
    word-break: break-word;
}

.sf-search-control.sf-control-container.mobile .sf-pagination-right {
    text-align: center;
}

