.rule
{
    background-color: #eee;
    border-radius: 4px;
}

.ruleItem
{
    height: 16px;
    background-color: #ddd; 
    border-radius: 4px;
}

.sf-grid-element .panel
{
    margin-bottom: 0px;
    overflow-x:hidden;
}

.sf-grid-element .panel-heading .form-control
{
    width: auto;
}

.sf-grid-element .panel-heading
{
    cursor:move;
}

.sf-rightHandle
{
    width: 5px;
    right: 13px; /*15 - 5/2*/
    cursor: e-resize;
    top: 6px;
    bottom: 6px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    position: absolute;
    display: block;
}

.sf-leftHandle
{
    width: 5px;
    left: 13px; /*15 - 5/2*/
    cursor: e-resize;
    top: 6px;
    bottom: 6px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    position: absolute;
    display: block;
}


.sf-dragging .separator-row
{
    background-color: #eee;
}

.sf-dragging .separator-row.sf-over
{
    background-color: #aaa;
}

.separator-row
{
    height: 20px;
}

fieldset.SF-grid-repeater-field
{
    padding-left: 20px;
    padding-right: 20px;
}

/*Preview*/

div.row-control-panel {
    margin-bottom: 30px;
}