.rule
{
    background-color: #eee;
    border-radius: 4px;
}

.ruleItem
{
    height: 16px;
    background-color: #ddd;
    border-radius: 4px;
}

.sf-grid-element .card
{
    margin-bottom: 0px;
    overflow-x:hidden;
}

.sf-grid-element .card-heading
{
    cursor:move;
}

.sf-rightHandle
{
    width: 5px;
    right: 3px; /*15 - 5/2*/
    cursor: e-resize;
    top: 6px;
    bottom: 6px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    position: absolute;
    display: block;
}

.sf-leftHandle
{
    width: 5px;
    left: 3px; /*15 - 5/2*/
    cursor: e-resize;
    top: 6px;
    bottom: 6px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    position: absolute;
    display: block;
}


.sf-dragging .separator-row
{
    background-color: #eee;
}

.sf-dragging .separator-row.sf-over
{
    background-color: #aaa;
}

.separator-row
{
    height: 20px;
}

fieldset.sf-grid-repeater-field
{
    padding-left: 20px;
    padding-right: 20px;
}

/*Preview*/

div.row-control-panel {
    margin-bottom: 30px;
}

/*.sf-hide{
}*/

.sf-show-hover:not(:hover) .sf-hide {
    color: #aaa;
}

.huge {
    font-size: xx-large;
    font-weight: bold;
}

.large {
    font-size: large;
    font-weight: bold;
}