@media (prefers-reduced-motion: reduce) {
    .sf-beat {
        animation: none !important;
    }
}

.sf-beat {
animation: 1.5s ease 0s infinite beat;
}



@keyframes beat {

    0%, 50%, 100% {
        transform: scale(1.3, 1.3);
    }

    30%, 80% {
        transform: scale(1, 1);
    }
}
