<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SerializadorTexto.Properties.Settings.PreFIVAConnectionString"
            connectionString="Data Source=INSPIRON;Initial Catalog=PreFIVA;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>