#sfCpContainer
{
    width: 100%;
}
#sfCpContainer .sf-ftbl-part-container
{
    padding: 10px; 
}

#sfCpAdminContainer .ui-draggable-dragging
{
    cursor: default !important;    
}

.sf-cp-link-list li
{
    padding: 5px 0 5px 5px;
}
.sf-cp-count-uq-list .sf-label-line
{
    text-align: left;
    padding: 5px 0 5px 5px;    
}
.sf-cp-count-uq-list .sf-field
{
    min-width: 135px;    
}