.sf-cp-part-container
{
    padding: 10px;    
}
.sf-cp-part
{
    padding: 2px;    
}
.sf-cp-part-header
{
    padding-left: 2px;
    line-height: 20px;
    margin-bottom: 2px;     
}
.sf-cp-dragging
{
    border: dotted 1px #bbb;    
}