.sf-ftbl-column
{
    float: left;
    vertical-align: top;   
    min-width: 100px;
}
.sf-ftbl-part-container
{
    padding: 0 10px;    
    vertical-align: top;
    min-height: 30px;    
}
.sf-ftbl-part
{
    padding: 2px;    
}
.sf-ftbl-part-header
{
    padding: 3px 10px;
    line-height: 20px;
    margin-bottom: 2px;     
}
.sf-ftbl-header-fullscreen
{
    display: inline-block;    
    cursor: pointer;
}
.sf-ftbl-part-header .sf-remove
{
    float: right;
    margin: 8px 4px 0 0;
}
.sf-ftbl-part-header .form-control
{
    padding-left: 5px;    
}
.sf-ftbl-dragging
{
    border: dotted 1px #bbb;
}
.sf-ftbl-droppable
{
    height: 20px;
}
.sf-ftbl-droppable-active
{
    border: dashed #888 4px !important;
    height: 50px;
}
.sf-ftbl-part .sf-repeater-element
{
    padding: 2px 10px;
}
.sf-ftbl-part .sf-repeater-element legend
{
    float: left;
    margin-right: 10px;
}