
.toolbar-card {
    width: 100%;
    text-align: center;
    height: 180px;
}

.toolbar-card-container {
    width: 260px;
    padding: 1rem;
}

.nav.navbar-nav .nav-link .nav-item-float {
    display: none;
}

.sf-toolbar-count-container {
    position: absolute;
    display: inline;
}

.sf-toolbar-count {
    padding: 1px 2px;
    position: relative;
    top: -8px;
    left: -5px;
    border-radius: 10px !important;
}
