@using Signum.Entities.Basics

@using (var s = Html.TypeContext<DateSpanEmbedded>())
{
    <table id='datespan'>
        <tr>
            <td>
                @Html.ValueLine(s, e => e.Years, vl => vl.ValueHtmlProps.Add("size", 3))
            </td>
            <td>
                @Html.ValueLine(s, e => e.Months, vl => vl.ValueHtmlProps.Add("size", 3))
            </td>
            <td>
                @Html.ValueLine(s, e => e.Days, vl => vl.ValueHtmlProps.Add("size", 3))
            </td>
        </tr>
    </table> 
}