
input[type=checkbox]
{
    width: 16px;
    height: 16px;
}

input[type=checkbox].form-control
{
    margin-top: 9px;
}

label > input[type=checkbox]
{
    margin: 0px;
    vertical-align: middle;
}

.date-time .input-group.date,
.date-time .input-group.time
{
    float: left;
    margin-right: 5px;
}

.input-group.date
{
    max-width: 140px;
}

.input-group.time
{
    max-width: 100px;
} 


.sf-entity-line-entity
{
    background: transparent;
    overflow: hidden;
}

/* Buttons */
.btn.btn-default.sf-line-button
{
    background: transparent;
}


.sf-line-button
{
    cursor:pointer;
    color:lightgray;
}
.sf-line-button:hover
{
    color:gray;
}

/* EntityLine buttons  */
.input-group-btn.btn-group-vertical
{
    vertical-align:top;
}

.input-group-btn.btn-group-vertical > .btn 
{
    border-top-left-radius: 0px !important; 
    border-bottom-left-radius: 0px !important;
}

.input-group-btn.btn-group-vertical > .btn:first-child:not(:last-child)
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*legends*/
fieldset
{
   border: 1px solid #ddd;
   padding: 10px;
   border-radius: 4px;
   margin: 10px 0px;
}

fieldset legend
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px 0 10px;
    margin: 0px;
}

.border
{
   border: 1px solid #ddd;
   padding: 10px;
   border-radius: 4px;
}

/*EntityRepeater*/

fieldset.sf-repeater-element > legend
{
    width: auto;
}

.repeater-inline .sf-repeater-element
{
    padding: 4px 10px;
    margin: 0px 0px 8px 0px;
}

.repeater-inline .sf-repeater-element legend
{
    float: left;
    margin-left: -6px;
    margin-right: 10px;
    border: 0px;
}

.repeater-inline.repeater-right .sf-repeater-element legend
{
    float: right;
    margin-left: 6px;
    margin-right: -10px;
    border: 0px;
}

/*EntityStrip*/

ul.sf-strip-horizontal > li
{
    float: left;
    margin-right: 10px;
}

ul.sf-strip-vertical>li
{
    margin: 1px 0px;
}

ul.sf-strip-vertical>li>.form-control
{
    background-color:transparent;
    box-shadow:none;
}

.sf-strip
{
    list-style: none;
    padding: 0px;
}

.sf-strip-horizontal > li > *
{
    vertical-align: middle;
}

/*Tabs*/
ul.nav-tabs
{
    margin-bottom: 10px;
}


/*buton colors*/
.sf-create:hover
{
    color:#22BA00;
}

.sf-remove:hover
{
    color:#CF0000;
}

.sf-find:hover
{
    color:#FFCC00;
}

.sf-view:hover
{
    color:#007CE8;
}

.move-down:hover, 
.move-up:hover
{
    color:#9900E0;
}

/*has-error*/

.has-error {
    border-color: #a94442;
}

/*form xs*/

.form-xs .form-control
{
    padding: 0px 3px;
    height: 20px;
}

.form-xs input[type=checkbox].form-control
{
    height: 16px;
}

.form-xs .input-group .btn,
.form-xs .input-group .input-group-addon
{
    padding: 0px 3px;
    height: 20px;
}

.form-xs .form-group 
{
    margin-bottom: 6px;
}


.form-horizontal.form-xs .control-label, 
.form-horizontal.form-xs .radio, 
.form-horizontal.form-xs .checkbox, 
.form-horizontal.form-xs .radio-inline, 
.form-horizontal.form-xs .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
}

.form-horizontal .form-xs .control-label, 
.form-horizontal .form-xs .radio, 
.form-horizontal .form-xs .checkbox, 
.form-horizontal .form-xs .radio-inline, 
.form-horizontal .form-xs .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
}

.form-xs .form-horizontal .control-label, 
.form-xs .form-horizontal .radio, 
.form-xs .form-horizontal .checkbox, 
.form-xs .form-horizontal .radio-inline, 
.form-xs .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
}

/*form sm*/

.form-sm .form-control
{
    padding: 3px 6px;
    height: 30px;
}

.form-sm input[type=checkbox].form-control
{
    height: 16px;
}

.form-sm .input-group .btn,
.form-sm .input-group .input-group-addon
{
    padding: 4px 6px;
}

.form-sm .form-group 
{
    margin-bottom: 5px;
}

.form-horizontal.form-sm .control-label, 
.form-horizontal.form-sm .radio, 
.form-horizontal.form-sm .checkbox, 
.form-horizontal.form-sm .radio-inline, 
.form-horizontal.form-sm .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.form-horizontal .form-sm .control-label, 
.form-horizontal .form-sm .radio, 
.form-horizontal .form-sm .checkbox, 
.form-horizontal .form-sm .radio-inline, 
.form-horizontal .form-sm .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.form-sm .form-horizontal .control-label, 
.form-sm .form-horizontal .radio, 
.form-sm .form-horizontal .checkbox, 
.form-sm .form-horizontal .radio-inline, 
.form-sm .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

/*form-inline*/

.form-horizontal .form-inline .form-group
{
    margin-right: 0px;
    margin-left: 0px;
}

/*form-vertical*/
.form-vertical .form-group > label
{
    float: none;
    padding-top: 0;
    text-align: start;
    width: auto;
}

.form-vertical .form-group
{
    margin-left: 0;
    margin-right: 0;
}

.form-vertical .form-control
{
    display: block;
    width: 100%;
    vertical-align: baseline;
}

/* table non-fluid*/

.table-nonfluid {
   width: auto;
}

/* disabled menu items*/

ul.dropdown-menu > li > a[disabled],
ul.dropdown-menu > li > a.disabled
{
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

/*Override absurd width for popups on sm*/
@media (min-width: 768px)
{
    .modal-dialog:not(.modal-dialog)
    {
        min-width: 730px;
    }
}