input[type=checkbox].form-control
{
    width: 16px;
    height: 16px;
    margin-top: 9px;
}




.input-group.date, .input-group.time
{
    max-width: 140px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
} 


