input[type=checkbox].form-control
{
    width: 16px;
    height: 16px;
    margin-top: 9px;
}

.input-group.date, .input-group.time
{
    max-width: 140px;
    float: left;
    margin-right: 5px;
} 

/* Buttons */
.btn.btn-default.sf-line-button,
.sf-entity-line-entity
{
    background: transparent;
}

.sf-line-button
{
    cursor:pointer;
    color:lightgray;
}
.sf-line-button:hover
{
    color:gray;
}

/* EntityLine buttons  */
.input-group-btn.btn-group-vertical
{
    vertical-align:top;
}

.input-group-btn.btn-group-vertical > .btn 
{
    border-top-left-radius: 0px !important; 
    border-bottom-left-radius: 0px !important;
}

.input-group-btn.btn-group-vertical > .btn:first-child:not(:last-child)
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*legends*/
fieldset
{
   border: 1px solid #ddd;
   padding: 10px;
   border-radius: 4px;
   margin: 10px 0px;
}

fieldset legend
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px 0 10px;
    margin: 0px;
}

.border
{
   border: 1px solid #ddd;
   padding: 10px;
   border-radius: 4px;
}

/*EntityRepeater*/

fieldset.sf-repeater-element > legend
{
    width: auto;
}

.form-inline .sf-repeater-element
{
    padding: 4px 10px;
    margin: 0px 0px 8px 0px;
}

.form-inline .sf-repeater-element legend
{
    float: left;
    margin-left: -6px;
    margin-right: 10px;
    border: 0px;
}

/*EntityStrip*/

ul.sf-strip-horizontal > li
{
    float: left;
    margin-right: 10px;
}

ul.sf-strip-vertical>li
{
    margin: 1px 0px;
}

ul.sf-strip-vertical>li>.form-control
{
    background-color:transparent;
    box-shadow:none;
}

.sf-strip
{
    list-style: none;
    padding: 0px;
}

.sf-strip-horizontal > li > *
{
    vertical-align: middle;
}

/*Tabs*/
ul.nav-tabs
{
    margin-bottom: 10px;
}


/*buton colors*/
.sf-create:hover
{
    color:#22BA00;
}

.sf-remove:hover
{
    color:#CF0000;
}

.sf-find:hover
{
    color:#FFCC00;
}

.sf-view:hover
{
    color:#007CE8;
}

.move-down:hover, 
.move-up:hover
{
    color:#9900E0;
}

/*has-error*/

.has-error {
    border-color: #a94442;
}

/*form xs*/

.form-xs .form-control
{
    width: auto;
    padding: 0px 3px;
    height: 20px;
}

.form-xs .input-group .btn,
.form-xs .input-group .input-group-addon
{
    padding: 0px 3px;
    height: 20px;
}

/*form sm*/

.form-sm .form-control
{
    width: auto;
    padding: 3px 6px;
    height: 30px;
}

.form-sm .input-group .btn,
.form-sm .input-group .input-group-addon
{
    padding: 1px 6px;
}

/*form-inline*/

.form-horizontal .form-inline .form-group
{
    margin-right: 0px;
    margin-left: 0px;
}

/*form-vertical*/
.form-vertical .form-group > label
{
    float: none;
    padding-top: 0;
    text-align: start;
    width: auto;
}

.form-vertical .form-group
{
    margin-left: 0;
    margin-right: 0;
}

.form-vertical .form-control 
{
    display: block;
    width: 100%;
    vertical-align: baseline;
}