/* top message */
#sfMessageArea {
    font-size:12px;
    left:50%;
    overflow:hidden;
    position:fixed;
    top:0;
    z-index:100000;
}

#sfMessageArea #sfMessageAreaTextContainer {
    font-weight:bold;
    overflow:hidden;
    text-align:center;
    white-space:nowrap;
    background-color:#fff1a8;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    padding:4px;
}

#sfMessageArea #sfMessageAreaTextContainer.sf-error {
    background-color:#FFAFAF;
}