.sf-widgets-container
{
    float: right;    
}

.sf-widget
{
    display: inline-block;
    position: relative; 
    border-left: solid 1px #AAA;
    padding: 4px 2px; /*Change SF.Widgets .sf-item onmouseover accordingly*/     
}

.sf-widget-content
{
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.sf-widget-toggler
{
    vertical-align: top;    
}

.sf-widget-toggler .ui-icon, .sf-widget-toggler .sf-widget-count
{
    display: inline-block;
    vertical-align: top;   
}