.sf-widgets-container
{
    float: right;    
}
.sf-widget
{
    display: inline-block;
    position: relative; 
    border-left: solid 1px #AAA;
    padding: 1px 2px; /*Change SF.Widgets .sf-item onmouseover accordingly*/     
}
.sf-widget-content
{
    margin-left: 0 !important;
    margin-top: 0 !important;
}
.sf-widget-toggler
{
    vertical-align: top;    
    line-height: 18px;
    text-align: left !important;
    cursor: pointer;
}
.sf-widget-toggler:hover,.sf-widget-toggler:hover
{
    text-decoration: none;    
}
.sf-widget-toggler .ui-icon, .sf-widget-toggler .sf-widget-count
{
    display: inline-block;
    vertical-align: top;
}

a.sf-widget-toggler-active
{
    color:#000;
} 

.sf-alerts-count-separator
{
    vertical-align: top;    
}
.sf-widget-count
{
    margin-left: 2px;
}
.sf-alert-warned.sf-alert-active
{
    color: Red;    
}
.sf-alert-attended.sf-alert-active, .sf-alert-future.sf-alert-active
{
    color: Black;    
}

.ui-state-highlight a
{
    color: auto !important;    
}