<p>
    @Resources.WeReceivedARequestToCreateAnAccountYouCanCreateItFollowingTheLinkBelow
</p>
@if (ViewData.ContainsKey("Link"))
{
    @Html.Href(ViewData["link"].ToString(), ViewData["link"].ToString())
} 