@if (UserDN.Current != null && !UserDN.Current.Is(Signum.Engine.Authorization.AuthLogic.AnonymousUser) )
{
    @:Usuario: <span class="sf-auth-username">@UserDN.Current</span>
    <span class="sf-auth-separator"> | </span>@Html.ActionLink(AuthMessage.Logout.NiceToString(), "Logout", "Auth", null, new { @class = "sf-logout" })
}
else
{ 
    @Html.ActionLink(AuthMessage.Login.NiceToString(), "Login", "Auth", null, new { @class = "sf-login" })
}
