@if (Session[AuthController.SessionUserKey] != null)
{
    @:Usuario: <span class="sf-auth-username">@Session[AuthController.SessionUserKey]</span>
    <span class="sf-auth-separator"> | </span>@Html.ActionLink("Logout", "Logout", "Auth", null, new { @class = "sf-logout" })
}
else
{ 
    @Html.ActionLink("Login", "Login", "Auth", null, new { @class = "sf-login" })
}
