@if (Session[AuthController.SessionUserKey] != null)
{
    @:Usuario: <span class="username">@Session[AuthController.SessionUserKey]</span>
    <span class="separator">|</span>@Html.ActionLink("Logout", "Logout", "Auth", null, new { @class = "logout" })
}
else
{ 
    @Html.ActionLink("Login", "Login", "Auth", null, new { @class = "login" })
}
