@{
    ViewBag.Title = Resources.ResetPasswordSuccess;
}
<div id="reset-password-container">
    <h2>@Resources.PasswordHasBeenChangedSuccessfully</h2>
    <p>@Resources.Please0IntoYourAccount.Formato(Html.ActionLink("login", "login", "auth"))</p>
</div>
