@{
    ViewBag.Title = AuthMessage.ResetPassword.NiceToString();
}
    <div class="sf-reset-password-container col-sm-offset-4">    
        <h2>@AuthMessage.EmailSent.NiceToString()</h2>
        <p>@AuthMessage.ResetPasswordCodeHasBeenSent.NiceToString().FormatWith(TempData["email"])</p>
    </div>

