@{
    ViewBag.Title = Resources.ResetPasswordSuccess;
}
<div class="sf-reset-password-container">
    <h2>@Resources.PasswordHasBeenChangedSuccessfully</h2>
    <p>@Html.FormatHtml(Resources.Please0IntoYourAccount, Html.ActionLink(Resources.LoginEnter, "login", "auth"))</p>
</div>
