@{
    ViewBag.Title = AuthMessage.ResetPassword.NiceToString();
}
    <script type="text/javascript">$(function () { $("#email").focus(); }); </script>

    <div class="sf-reset-password-container">    
        <h2>@AuthMessage.EmailSent.NiceToString()</h2>
        <p>@ViewData["Message"]</p>
    </div>

