@{
    ViewBag.Title = Resources.ResetPassword;
}
    <script type="text/javascript">$(function () { $("#email").focus(); }); </script>

    <div class="sf-reset-password-container">    
        <h2>@Resources.EmailSent</h2>
        <p>@ViewData["Message"]</p>
    </div>

