@{
    ViewBag.Title = Resources.ResetPasswordSuccess;
}
<div id="reset-password-container">
    <h2>@Resources.PasswordHasBeenChangedSuccessfully</h2>
    <p>@Html.Raw(Html.Encode(Resources.Please0IntoYourAccount).Formato(Html.ActionLink(Resources.LoginEnter, "login", "auth")))</p>
</div>
