@{
    ViewBag.Title = AuthMessage.ResetPasswordSuccess.NiceToString();
}
<div class="sf-reset-password-container">
    <h2>@AuthMessage.PasswordHasBeenChangedSuccessfully.NiceToString()</h2>
    <p>@Html.FormatHtml(AuthMessage.Please0IntoYourAccount.NiceToString(), Html.ActionLink(AuthMessage.LoginEnter.NiceToString(), "login", "auth"))</p>
</div>
