.sf-file-drop {
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: .5em 0;
    color: var(--bs-body-color);
    border: 2px dashed var(--bs-border-color);
    border-radius: 7px;
    cursor: default;
}

.form-group-sm .sf-upload {
    padding: 4px 10px;
}

.sf-file-drop .sf-upload {
    margin-top: -5px;
    margin-bottom: -5px;
}

.sf-file-drop-over {
    color: var(--bs-danger-text);
    border-color: var(--bs-danger-border);
    border-style: solid;
    box-shadow: inset 0 3px 4px var(--bs-secondary-color);
}

.sf-file-line-new {
    overflow: hidden;
}

.form-control.file-control {
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sf-file-image-container {
    position: relative;
    border: 1px solid var(--bs-border-color);
    ;
}

.sf-file-image-container:hover {
    border: 1px solid var(--bs-secondary-color);
}

.sf-file-image-container img {
    width: 100%;
}

.sf-file-image-container .sf-remove {
    position: absolute;
    right: 3px;
    top: 2px;
    padding: 3px 6px;
}


/*Upload file*/
.sf-upload {
    padding: 8px 10px;
    position: relative;
}

.sf-upload i {
    padding-right: 10px;
}

.sf-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
}

.sf-file-drop:focus-within {
    background-color: var(--bs-body-bg);
    border-color: rgb(127.5, 184, 201.5);
    outline: 0;
    border-width: 3px;
}



/*.sf-image-container{
    display: flex;
    margin: 10px;
}

    .sf-image-container .sf-remove {
        margin-left: -16px;
        z-index: 10;
    }*/
