div.design-main {
    display: flex;
    flex-direction: column;
}

div.design-left {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 2px;
}

    div.design-left.open {
        padding: 9px 14px;
    }

.design-left h3 {
    margin-top: 0px;
}

div.design-content {
    padding: 10px;
}

span.design-changed {
    color: black;
}

span.design-default {
    color: #777;
}

.design-open-icon {
    opacity: 0.4;
}

    .design-open-icon:hover {
        opacity: 0.6;
    }

@media screen and (min-width: 600px) {

    div.design-main {
        flex-direction: row;
    }

    body.rtl div.design-main {
        flex-direction: row-reverse;
    }

    div.design-main .design-left.open {
        flex: 1;
    }

    div.design-main .design-content {
        flex: 2;
        max-width: -webkit-fill-available;
    }
}


.formula {
    margin-right: 5px;
    color: #ccc;
}

input[type=checkbox].design-check-box {
    margin-right: 5px;
}

.formula:hover {
    color: #aaa;
}

.formula.active {
    color: black;
}

.filter-options .table {
    margin-top: -10px;
    margin-bottom: -10px;
}

.small-codemirror .CodeMirror {
    height: auto;
}

ul.expression-list {
    list-style: none;
    padding-left: 20px;
}

    ul.expression-list a.sf-remove {
        float: left;
        margin-left: -20px;
    }


.design-help-button {
    background: #ddd;
    padding: 5px;
    margin: -5px;
}
