.dialog-header-error {
    background-color: var(--bs-danger-subtle);
    color: var(--bs-body-color);
}

.dialog-header-error a {
    color: var(--bs-body-color);
}


.dialog-header-warning {
    background-color: var(--bs-warning-subtle);
    color: var(--bs-body-color);
}

.dialog-header-warning a {
    color: var(--bs-body-color);
}


.dialog-header-info {
    background-color: var(--bs-info-subtle);
    color: var(--bs-body-color);
}

.dialog-header-info a {
    color: var(--bs-body-color);
}


.dialog-header-success {
    background-color: var(--bs-success-subtle);
    color: var(--bs-body-color);
}

.dialog-header-success a {
    color: var(--bs-body-color);
}