
.dialog-header-error {
    background-color: #d2322d;
    color: #ffffff;
}

    .dialog-header-error a {
        color: #B9DFFF;
    }


.dialog-header-warning {
    background-color: #EAAB19;
    color: #ffffff;
}

    .dialog-header-warning a {
        color: #FFECBE;
    }


.dialog-header-info {
    background-color: #4AB2E6;
    color: #ffffff;
}

    .dialog-header-info a {
        color: #B9DFFF;
    }


.dialog-header-success {
    background-color: #74B45A;
    color: #ffffff;
}

    .dialog-header-success a {
        color: #DCF9CC;
    }
