
.toolbar-card {
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: var(--bs-card-spacer-y);
}

.toolbar-card-container {
    width: 260px;
    padding: 1rem;
}

.nav.navbar-nav .nav-link .nav-item-float {
    display: none;
}

.sf-toolbar-count-container {
    position: relative;
    display: inline;
}

.sf-toolbar-count {
    padding: 1px 2px;
    position: absolute;
    top: -6px;
    left: -6px;
    border-radius: 10px !important;
}

.sf-extra-icon .sf-toolbar-count {
    top: -8px;
    left: -8px;
}

.sidebar-nav.narrow .sf-extra-icon{
    display: none;
}
#toolbar-switcher {
    width: 100% !important;
}
