.sf-auth-rules {
    margin-top: 20px;
    margin-bottom: 40px;
}

.sf-auth-rules th {
    padding: 2px;
}

.sf-auth-rules td {
    vertical-align: top;
}

.sf-auth-rules .sf-auth-overriden {
    text-align: center;
}

.sf-auth-rules a:hover {
    cursor: pointer;
}

.sf-auth-rules tr.first {
    border-top: 1px var(--bs-border-color) solid
}

.sf-auth-rules tr:hover {
    background-color: var(--bs-body-bg);
}

.sf-auth-rules span {
    line-height: 22px;
}

.sf-auth-rules .sf-auth-condition .sf-auth-label {
    font-style: italic;
}

.sf-auth-rules .sf-auth-condition td {
    background-color: var(--bs-body-bg);
}

.sf-auth-rules .sf-auth-condition-button {
    margin: 5px 0 5px 3px;
    width: 1.2em;
    background: none repeat scroll 0px 0px transparent !important;
    border: 0px none !important;
}

.sf-auth-rules .sf-auth-label {
    margin-left: 3px;
    vertical-align: top;
}

.sf-auth-rules small {
    color: var(--bs-secondary)
}

.sf-auth-rules small.and {
    color: var(--bs-body-color)
}

a.sf-auth-chooser {
    text-decoration: none !important;
    font-size: 18px;
    vertical-align: middle;
}

.sf-auth-checkbox {
    font-size: 18px;
    vertical-align: middle;
    color: var(--bs-secondary)
}

.sf-auth-checkbox.fa-check-square-o {
    cursor: pointer;
    color: var(--bs-secondary)
}

.sf-not-allowed {
    cursor: not-allowed !important;
}

span.group.inactive {
    color: var(--bs-secondary)
}

span.group.active {
    color: var(--bs-body-color)
}


table.sf-auth-rules tr.sf-auth-type td {
    border-top: 1px solid var(--bs-border-color);
}

table.sf-auth-rules tr.sf-auth-type.sf-auth-with-conditions td {
    padding-bottom: 0px;
}


table.sf-auth-rules tr.sf-auth-condition td {
    border-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

table.sf-auth-rules tr.sf-auth-namespace td {
    padding-top: 16px;
    border-bottom: 1px solid var(--bs-border-color);
    border-top: 0;
}

.sf-placeholder-icon {
    color: var(--bs-secondary)
}

.sf-auth-condition .sf-condition-icon {
    font-size: small;
}

a.sf-condition-icon {
    color: var(--bs-secondary);
}

a.sf-condition-icon:hover {
    color: var(--bs-secondary-dark);
    text-decoration: none;
}

a.sf-auth-link {
    opacity: 0.5;
    text-decoration: none;
}

a.sf-auth-link:hover {
    opacity: 1;
}

.sf-master {
    background: var(--bs-warning-border-subtle) !important;
}

small.shy-text {
    opacity: 0;
    font-size: smaller;
    color: var(--bs-gray-400);
    transition: opacity 1s;
}

tr:hover small.shy-text {
    opacity: 1;
}
