div.sf-type-help{
    background: var(--bs-light);
    margin: -5px;
    padding: 5px;
}

div.sf-type-help h4{
    font-family: monospace;
}

div.sf-type-help-bar{
    background: var(--bs-secondary-bg-subtle);
    margin: -5px;
    padding: 5px;
}

ul.sf-members {
    font-family: monospace;
    font-size: 13px;
    white-space: nowrap;
    padding-left: 10px;
    list-style: none;
    overflow:auto;
}

ul.sf-members ul.sf-members{
    background:var(--bs-secondary-bg-subtle);
}

span.sf-member-name {
    font-weight: bold;
}

span.sf-member-primitive {
    color: var(--bs-primary);
}

.sf-member-class {
    color: var(--bs-info);
}

span.sf-member-date {
    color: var(--bs-secondary);
}

.sf-member-enum {
    color: var(--bs-danger-subtle);
}

span.sf-member-lite {
    color: var(--bs-info);
}

span.sf-member-collection {
    color: var(--bs-warning);
}

span.sf-member-others {
    color: var(--bs-secondary-color);
}

span.sf-member-click {
    cursor: pointer;
}
