<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Signum.Test.Properties.Settings.SignumTest" connectionString="Data Source=192.168.0.8;Initial Catalog=SignumTest;Integrated Security=True" />
    </connectionStrings>
</configuration>