.new-row {
    font-weight:bold;
}

.opened-row {
}

.in-progress-row {
    font-style:italic;
}

.done-row {
    color: gray;
}

.done-by-other-row {
    color: brown;
}

.case-remarks:focus{
    outline:none;
}

.case-remarks-pencil {
    opacity: 0;
    transition: opacity 0.5s;
}

tr:hover .case-remarks-pencil{
    opacity: 1;
}