
.dialog-header-error {
    background-color: #d2322d;
}

    .dialog-header-error span, .dialog-header-error h4 {
        color: #ffffff;
    }

    .dialog-header-error a {
        color: #B9DFFF;
    }

.dialog-header-wait {
    background-color: #428bca;
}

    .dialog-header-wait span, .dialog-header-wait h4 {
        color: #ffffff;
    }

    .dialog-header-wait a {
        color: #B9DFFF;
    }

.dialog-header-confirm {
    background-color: #333333;
}

    .dialog-header-confirm span, .dialog-header-confirm h4 {
        color: #ffffff;
    }

    .dialog-header-confirm a {
        color: #B9DFFF;
    }


.dialog-header-notify {
    background-color: #eeeeee;
}

.dialog-header-warning {
    background-color: #EAAB19;
}

    .dialog-header-warning, .dialog-header-warning h4 {
        color: #ffffff;
    }

        .dialog-header-warning a {
            color: #FFECBE;
        }

.dialog-header-notify {
    background-color: #eeeeee;
}

.dialog-header-info {
    background-color: #4AB2E6;
}

    .dialog-header-info, .dialog-header-info h4 {
        color: #ffffff;
    }

        .dialog-header-info a {
            color: #B9DFFF;
        }

.dialog-header-success {
    background-color: #74B45A;
}

    .dialog-header-success, .dialog-header-success h4 {
        color: #ffffff;
    }

        .dialog-header-success a {
            color: #DCF9CC;
        }

.bg-primary a {
    color: #BCE1E1;
}
