@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel

@using (var tc = Html.TypeContext<LinkListPartDN>())
{
    tc.FormGroupStyle = FormGroupStyle.None;
    tc.PlaceholderLabels = true;
    <div class="form-inline repeater-inline">
          @Html.EntityRepeater(tc, p => p.Links)
    </div>
}