@using System.Configuration
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@model ControlPanelDN
@if (!Model.Parts.IsNullOrEmpty())
{
    int rowNumber = Model.Parts.Max(p => p.Row) + 1;
    <table id="sfCpAdminContainer">
        <tr>
            @for (int col = 0; col < Model.NumberOfColumns; col++)
            { 
                <td class="sf-ftbl-column" data-column="@col">
                    <div class="sf-ftbl-droppable"></div>
                    @for (int row = 0; row < rowNumber; row++)
                    {
                        PanelPart pp = Model.Parts.SingleOrDefaultEx(p => p.Row == row && p.Column == col);
                        if (pp != null)
                        {
                        <div class="sf-ftbl-part-container">
                            @{ 
                            var ppTc = new TypeContext<ControlPanelDN>(Model, "").TypeElementContext(p => p.Parts).Where(pTc => pTc.Value == pp).FirstEx();
                            Html.RenderPartial(ControlPanelClient.AdminViewPrefix.Formato("PanelPartView"), ppTc);    
                            }
                        </div>
                        <div class="sf-ftbl-droppable"></div>
                        }
                    }
                </td>
            }
        </tr>
    </table>
}
