@using Signum.Engine
@using Signum.Entities.Scheduler

@using (var e = Html.TypeContext<HolidayEmbedded>()) 
{
     e.LabelColumns = new BsColumn(4);
    <div class="row">
        <div class="col-sm-4">
            @Html.ValueLine(e, f => f.Date)
        </div>
        <div class="col-sm-4">
            @Html.ValueLine(e, f => f.Name)
        </div>
    </div>      
}