@using Signum.Engine
@using Signum.Entities.Scheduler

@using (var e = Html.TypeContext<HolidayCalendarDN>())
{
    @Html.ValueLine(e, f => f.Name)
    <div class="repeater-inline">
        @Html.EntityRepeater(e, f => f.Holidays)
    </div>
}