.sf-sms-warning
{
    color: #FE642E;
}
.sf-sms-no-more-chars
{
    color: red;
    font-weight:bold;
}
.sf-sms-red
{
    background-color: #F5A9A9;
}
.sf-sms-highlight
{
    font-weight:bold;    
}
.sf-sms-characters-left
{
    margin-left: 150px;
}
.sf-sms-template-messages {
    margin-top: 10px;
}
.sf-sms-template-message
{
    float: left;
    margin-top: 8px;
}
#sfLiterals
{
    min-width: 105px;
}
#sfInsertLiteral
{
    margin-top: 10px;
    margin-bottom: 15px;
}
.sf-sms-remove-chars
{
    margin-top: 7px;
    margin-bottom: 15px;
    margin-left: 110px;
}