<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Signum.Windows.Extensions.Sample.Test.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=SignumExtensionsTest;Integrated Security=True;" />
    </connectionStrings>
</configuration>