<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BancosTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BancosTest.Properties.Settings>
            <setting name="Domiciliaciones" serializeAs="String">
                <value>\\192.168.0.7\d$\Docs\Clientes\AMV\proyectos\aplicacion de gestion GLOBAL\FicherosContabilidad\DOMICILIACIONES</value>
            </setting>
            <setting name="Devoluciones" serializeAs="String">
                <value>\\192.168.0.7\d$\Docs\Clientes\AMV\proyectos\aplicacion de gestion GLOBAL\FicherosContabilidad\DEVOLUCIONES</value>
            </setting>
        </BancosTest.Properties.Settings>
    </applicationSettings>
</configuration>