.fa-sm {
    font-size: 0.5em;
}

.tree-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


    .tree-container ul {
        padding-left: 16px;
        margin-bottom: 0px;
    }

        .tree-container ul li {
            list-style: none
        }

span.place-holder {
    display: inline-block;
    width: 12px;
}


.tree-label {
    cursor: pointer;
    padding: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .tree-label.tree-selected {
        color: #fff !important;
        background-color: #337ab7;
    }

    .tree-label.tree-disabled {
        color: gray;
        font-style: italic;
    }


.tree-icon {
    cursor: pointer;
    width: 12px;
}
