<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="$custommessage$.Load.Properties.Settings.ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=$custommessage$;Integrated Security=True" />
  </connectionStrings>
</configuration>