

.sidebar-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

    .sidebar-container .container-fluid {
        flex-grow: 1;
    }


@media (min-width: 768px) {
    .sidebar-container {
        flex-direction: row;
    }

    body:not(.rtl-mode) .sidebar {
        border-right: 1px solid #e7e7e7;
    }

    body.rtl-mode .sidebar {
        border-left: 1px solid #e7e7e7;
    }

    .sidebar{
        min-width: 251px;
    }
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

    .sidebar ul li a.active {
        background-color: #eeeeee;
    }


@media (min-width: 768px) {
    body:not(.rtl-mode) .navbar-header {
        width: 235px;
        border-right: 1px solid #e7e7e7;
        margin-right: 10px !important;
    }

    body.rtl-mode .navbar-header {
        width: 235px;
        border-left: 1px solid #e7e7e7;
        margin-left: 10px !important;
    }

    .navbar-toggle {
        display: block !important;
    }
}
