table.pivot-table th {
    background: var(--bs-tertiary-bg);
}

.pivot-table a {
    color: inherit;
}

.pivot-table a:hover {
    color: var(--bs-link-hover-color);
}

.pivot-table tr:hover td, 
.pivot-table tr:hover th:not([rowspan]) {
    border-bottom: 1px solid var(--bs-border-color);
}


.pivot-table .sf-create-cell {
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 14px;
    display: none;
}

.pivot-table td,
.pivot-table th {
    position: relative;
}

.pivot-table .sf-create-cell {
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 14px;
    display: none;
}

.pivot-table td:hover .sf-create-cell,
.pivot-table th:hover .sf-create-cell {
    display: initial;
}
