ul.responsive-columns {
    column-width: 360px;
}

    ul.responsive-columns > li {
        break-inside: avoid-column;
    }

.sf-edit-container:hover .sf-edit-button {
    color: #bbb;
}

.sf-edit-button {
    color: #eee;
    font-size: 16px;
}

    .sf-edit-button:hover {
        color: #888 !important;
    }

.sf-edit-button.active {
    color: #888 !important;
}

    .sf-edit-button.block {
        margin-top: -16px;
        display: block;
    }
