.notify-badge {
    position: absolute;
    background: #2780e3;
    text-align: center;
    color: white;
    padding: 5px 10px;
    font-size: 9px;
    font-weight: bold;
}

.news-shadow.selected .notify-badge {
    color: #2780e3;
    background: white;
}

.news-stats {
    color: #73726c;
    font-size: 10px;
}


.news-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s
}

    .news-shadow:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }


    .news-shadow.selected {
        color: white;
        background: #2780e3;
    }

        .news-shadow.selected .news-stats {
            color: #9ac7f9;
        }
