@using System.Configuration
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@using Signum.Entities.DynamicQuery
@using Signum.Entities.Reports
@using Signum.Web.UserQueries
@model PanelPartDN

<div class="sf-cp-count-uq-list">
    @foreach (CountUserQueryElement uq in ((CountSearchControlPartDN)Model.Content).UserQueries)
    {
        object queryName = Navigator.Manager.QuerySettings.Keys.FirstEx(k => QueryUtils.GetQueryUniqueKey(k) == uq.UserQuery.Query.Key);
        FindOptions fo = new FindOptions(queryName)
        {
            FilterMode = FilterMode.Hidden
        };

        @Html.CountSearchControl(uq.UserQuery, fo, csc => { csc.Navigate = true; csc.Href = uq.Href; csc.WriteQueryName = WriteQueryName.FormGroup; csc.QueryLabelText = uq.Label; })
    }
</div>