@using System.Configuration
@using Signum.Web.Properties
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@using Signum.Entities.DynamicQuery
@using Signum.Entities.Reports
@using Signum.Web.UserQueries
@model PanelPart

<div class="sf-cp-count-uq-list">
    @foreach (CountUserQueryElement uq in ((CountSearchControlPartDN)Model.Content).UserQueries)
    {
        object queryName = Navigator.Manager.QuerySettings.Keys.FirstEx(k => QueryUtils.GetQueryUniqueKey(k) == uq.UserQuery.Query.Key);
        FindOptions fo = new FindOptions(queryName)
        {
            FilterMode = FilterMode.Hidden
        };

        @Html.Field(
            uq.Label.HasText() ? uq.Label : uq.UserQuery.DisplayName,
            Html.CountSearchControl(uq.UserQuery, fo, csc => { csc.Navigate = true; csc.Href = uq.Href; }))
        <div class="clearall"></div>
    }
</div>