@using System.Configuration
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@using Signum.Entities.DynamicQuery
@using Signum.Entities.Reports

@using (var llp = Html.TypeContext<LinkListPartDN>())
{
    <ul class="sf-cp-link-list">
        @foreach (LinkElementDN link in Model.Value.Links)
        {
            <li>
                @Html.Href(link.Link, link.Label)
            </li>
        }
    </ul>
}
