@using System.Configuration
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@using Signum.Entities.DynamicQuery
@using Signum.Entities.Reports
@model PanelPart

@{ var linkList = ((LinkListPartDN)Model.Content).Links; }
<ul class="sf-cp-link-list">
    @foreach (LinkElement link in linkList)
    {
        <li>
            @Html.Href(link.Link, link.Label)
        </li>
    }
</ul>
