@using System.Configuration
@using Signum.Web.Properties
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@model ControlPanelDN
@if (!Model.Parts.IsNullOrEmpty())
{
    int rowNumber = Model.Parts.Max(p => p.Row);
    //int columnWidth = (int)Math.Floor((decimal)(100 / Model.NumberOfColumns));
    <div id="sfCpContainer">
        @for (int col = 1; col <= Model.NumberOfColumns; col++)
        { 
            <div class="sf-cp-div-column">
                @for (int row = 1; row <= rowNumber; row++)
                {
                    PanelPart pp = Model.Parts.SingleOrDefault(p => p.Row == row && p.Column == col);
                    if (pp != null)
                    {
                        <div class="sf-cp-part-container">
                            @{ Html.RenderPartial(ControlPanelClient.ViewPrefix.Formato("PanelPart"), pp); }   
                        </div>
                    }
                }
            </div>
        }
    </div>
    
    @*
    int rowNumber = Model.Parts.Max(p => p.Row);
    //int columnWidth = (int)Math.Floor((decimal)(100 / Model.NumberOfColumns));
    <div id="sfCpContainer">
        @for (int row = 1; row <= rowNumber; row++)
        { 
            <div class="sf-cp-div-row">
                @for (int col = 1; col <= Model.NumberOfColumns; col++)
                {
                    PanelPart pp = Model.Parts.SingleOrDefault(p => p.Row == row && p.Column == col);
                    if (pp != null)
                    {
                        <div class="sf-cp-part-container">
                            @{ Html.RenderPartial(ControlPanelClient.ViewPrefix.Formato("PanelPart"), pp); }   
                        </div>
                    }
                }
            </div>
            <div class="clearall"></div>
        }
    </div>*@
}
