@using System.Configuration
@using Signum.Web.Properties
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@model PanelPart

<div class="ui-widget ui-widget-content ui-corner-all sf-cp-part">
    <div class="ui-widget-header ui-corner-all sf-cp-part-header">@Model.Title</div>
    <div>
        @{ Html.RenderPartial(ControlPanelClient.PanelPartViews[Model.Content.GetType()], Model); }
    </div>
</div>