@using System.Configuration
@using Signum.Web.Properties
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@model PanelPart
           
@{ string prefix = "Parts_{0}_{1}_".Formato(Model.Row, Model.Column); }
<div class="ui-widget ui-widget-content ui-corner-all sf-cp-part">
    <div class="ui-widget-header ui-corner-all sf-cp-part-header">
        @Model.Title
        @Html.TextBox(prefix + "Title", Model.Title, new { style = "display:none" })
    </div>
    <div>
        @{ Html.RenderPartial(ControlPanelClient.PanelPartViews[Model.Content.GetType()], Model); }
    </div>
    <div>
        @Html.Hidden(prefix + "Row", Model.Row, new { @class = "sf-cp-part-row"})
        @Html.Hidden(prefix + "Column", Model.Column, new { @class = "sf-cp-part-col"})
    </div>
</div>