@using System.Configuration
@using Signum.Entities.ControlPanel
@using Signum.Web.ControlPanel
@model PanelPartDN

@{ 
    string prefix = "r{0}c{1}".Formato(Model.Row, Model.StartColumn);
    ControlPanelClient.PartViews config = ControlPanelClient.PanelPartViews[Model.Content.GetType()];
}
<div class="panel panel-@Model.Style.ToString().ToLower()">
    <div class="panel-heading">
        @Model.ToString()
        @if (config.FullScreenLink)
        {
            <a id="@TypeContextUtilities.Compose(prefix, "sfFullScreen")" class="sf-ftbl-header-fullscreen" href="#">
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        }
    </div>

    <div class="panel-body">
        @{ Html.RenderPartial(config.FrontEnd, TypeContextUtilities.UntypedNew(Model.Content, prefix)); }
    </div>

</div>
