@using Signum.Engine
@using Signum.Entities.UserQueries
@using Signum.Web.UserQueries
@using Signum.Entities.DynamicQuery

@using (var e = Html.TypeContext<QueryOrderDN>())
{
    using (var style = e.SubContext())
    {
        style.OnlyValue = true;
    <div style="float: left">
        @Html.QueryTokenDNBuilder(e.Value, e, (QueryDescription)ViewData[ViewDataKeys.QueryDescription])
    </div>
        @Html.ValueLine(style, f => f.OrderType)
    }
}
