@using Signum.Engine
@using Signum.Entities.UserQueries

@using (var e = Html.TypeContext<QueryColumnDN>())
{
    using (var style = e.SubContext())
    {
        style.OnlyValue = true;
        @Html.ValueLine(style, f => f.DisplayName, vl => vl.ValueHtmlProps["size"] = 20)
        <div style="float: left">
            @Html.QueryTokenCombo(e.Value.Token, e)
        </div>
    }
} 