@using Signum.Engine
@using Signum.Entities.UserQueries
@using Signum.Web.UserQueries
@using Signum.Entities.DynamicQuery
@using (var e = Html.TypeContext<QueryColumnDN>())
{
    using (var style = e.SubContext())
    {
        style.FormGroupStyle = FormGroupStyle.None;
    @Html.ValueLine(style, f => f.DisplayName, vl => vl.ValueHtmlProps["size"] = 20)
    <div style="float: left">
        @Html.QueryTokenDNBuilder(e.SubContext(a => a.Token), 
        SearchControlHelper.GetQueryTokenBuilderSettings((QueryDescription)ViewData[ViewDataKeys.QueryDescription]))
    </div>
    }
}
