table.pivot-table th {
    background: #f8f8f8;
}

.pivot-table a {
    color: inherit;
}

.pivot-table a:hover {
    color: dodgerblue;
}

.pivot-table tr:hover td, 
.pivot-table tr:hover th:not([rowspan]) {
    border-bottom: 1px solid black;
}
