.labelLine
{
display:block;
float:left;
font-weight:bold;
margin:0 10px 2px;
padding:3px 5px;
text-align:right;
width:150px;
}
.valueLine
{
	float: left;
}

.clear{
	clear:both;
}
.OperationDiv
{
	float: left;	
	padding: 0 5px;
	cursor:pointer;
}

div.operations div.OperationDiv, div.buttonBar div.OperationDiv {
border-left: 1px solid #ddd;
}
div.operations div.OperationDiv:hover, div.buttonBar div.OperationDiv:hover{
	text-decoration:underline;
}

div.operations div.OperationDiv:first-child, div.buttonBar div.OperationDiv:first-child {
	border:0;
}

.rbValueLine
{
		}
.entityList
{
	float:left;
	width:75%;
}

.repeaterSection{
	float:left;
}
.repeaterElement
{
	/*margin: 5px;*/
	margin-left:175px;
	/*background:#f3f3f6 url(../images/fondo-repeater.jpg) repeat-x 0 0;*/
	background-color:#F5F5F5;
	padding: 5px;
	display:block;
	border-color:#dfdfdf #eee #fff #eee;
	border-width:1px;
	border-style:solid;
	/*width:100%;
	float:left;*/
}
.repeater a.remove{position:absolute;}
.repeaterElement a
{
	text-decoration: underline;
	font-weight:bold;
	float:left;
	margin-right:5px;
}
.entityListOption
{
	
}
.entityListOption.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffdddd;
}
.clearall
{
	margin: 0 0 5px 0px;
	clear: both;
	font-size: 1px;
	height:1px;
	line-height:1px;
}
.lineButton
{
	float:left;
}

.AutoCompleteMainDiv
{
	background-color:White;
	display:none; 
	position:absolute;
	color:#000000;
}
.transparent {
    filter: alpha(opacity=40); /* ie */
    opacity: .4; /* mozilla */
    -moz-opacity: .4; /* mozilla */
	background:#000 none repeat scroll 0 0;
}

.divMainControl{
	display:block;
	clear:both;
}
.popupWindow .divMainControl{
	overflow-x:hidden;
	overflow-y:auto;
	max-height:550px;
	float:left;
	width:100%;
}

.popupWindow
{

	width:auto; 
	position: fixed; 
	border:1px /*#9ebfdb*/ #183c5c solid; 
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	background:#fff url(../images/popup-body-back.jpg) repeat-x 0 bottom;

	-moz-box-shadow: 0 0 1em #555;
	-webkit-box-shadow: 0 0 1em #555;
	box-shadow: 0 0 1em #555;
	}
	.popupBackground
	{
		display: block; 
		position: fixed; 
		left: 0px; 
		top: 0px; 
		width: 1280px;
		height: 871px;
		}
.dragHandle
		{
		color:#FFFBFF;
		font-family:Arial;

		font-size:130%;
		font-weight:bold;
		text-shadow:1px 1px #183C5C;
		background:url(../images/popup-header-back.jpg) repeat-x 0 0 #274977;
		padding:5px;
		border-bottom:1px solid #e1ecf9;
		-moz-border-radius-topleft:7px;
		-moz-border-radius-topright:7px;
		-webkit-border-radius-topleft:7px;
		-webkit-border-radius-topright:7px;
		border-radius-topleft:7px;
		border-radius-topright:7px;		
}
.buttonBar
		{
		font-family:Arial;
		padding:5px 0;
		border-bottom:1px solid #e1ecf9;
		float:left;
		width:100%;
}
.ddlAuto
{
	
	}
.ddlAutoOn
{
	background-color:Red;
}
.filterOption
{
	float: left;
}
.filterWidth
{
	width:30%;	
}
.field-validation-error
{
    color: #ff0000;
}

.input-validation-error 
{
    border: 1px solid #ff0000 !important; 
    background-color: #ffeeee;
}

input.input-validation-error[type=checkbox]{
    outline: 1px solid #ff0000;   
}
.validation-summary-errors
{
   margin:5px;
   color: #ff0000;
   color:#222222;
   border:1px solid #CC0000;
   padding:4px;
   background:url(../Images/sign_error.gif) no-repeat 3px 3px #F7CBCA;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
}
.validation-summary-errors li
{
	list-style-type:none;
	text-indent:20px;
	}
.ui-datepicker-trigger    
{ 
	cursor:pointer; 
	}
	
/*	#content{
		width:100%;
		padding:0 0 0 20px !important;
		}*/

#header{margin:0px; padding:0px;	border-bottom: 1px solid #eee;}
/*#content{vertical-align:top; margin:0px; padding:0px;}*/

#footer{font-size:11px;height:18px; margin:0px; padding:0px;width:100%;text-align:center; background-color:#eee;color:#999;}
#footer .company{color:#666;}
.fields-search{/*background-color:#eee;*/width:700px;}
.fields-list{/*background-color:#ccc; padding:10px;*/}
.filters-list{border:1px solid #ccc; padding:10px;}
.filters-body{background-color:#eee;padding:10px; border-top:1px solid #bbb; border-left:1px solid #bbb; border-right:1px solid #bbb;}
.filters-header{background-color:#eee;border:1px solid #bbb;font-size:90%;padding:5px;z-index:10;position:relative;cursor:pointer;}
.explanation{font-style:italic; color:#888;}
/*
input[type=button]:hover{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#DDDDDD none repeat scroll 0 0;
	border-color:#AAAAAA;
}
	
input[type=button] {
		-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	border:1px solid #C3C3C3;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF url(../images/fade-butt.png) repeat-x scroll 0 -2px;
	margin:0px 3px;
}
		*/
/*table tbody tr{border-bottom:1px solid #eee;}*/
#divFilters label{color:#333; }
.separator{margin:0px 10px;border-left:1px solid #bbb;}

div .field{float:left;}
/*#divResults{float:left;}
tr.even{background-color:#efefef;}*/

#divMenuItems{
	width:700px;
	padding:10px 0px;
}

a.valueLine{padding-top:3px;}
span.valueLine{padding-top:3px;}
/*
#tblResults {margin-top:10px; border:3px solid #ddd;min-width:700px;}
#tblResults thead{background-color:#ddd;}
#tblResults td {border-right:1px solid #eee;}
.even td {border-right:1px solid #fff !important;}
*/
a:link
{
    color: #034af3;
    text-decoration: none;

}
a:visited
{
    color: #505abc;
	text-decoration: none;
}
a:hover
{
    color: #1d60ff;
    text-decoration: underline;
}
a:active
{
    color: #000;
}
.loading{color:#333; background:#f4f4f4 url(../images/ajax-loader.gif) no-repeat center center !important;}

.popupWindow{left:-10000px;}
.popupBackground{left:-10000px;}

.closebox{position:absolute; right:-15px; top:-12px;width:30px;height:30px;background:transparent url(../images/fancy_closebox.png) no-repeat scroll left top;}
.closebox:hover{cursor:pointer;}



.embedded{
	background-color:#FFFFCC;
	border:1px solid #fff1a8;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
	float:left;
}
.embedded .entity{
	background-color: #fff1a8;
	-moz-border-radius-bottomright:3px;
	padding:3px;
	position:absolute;
	font-weight:bold;
	color:#9B7400;
}

.embedded-light{
/*	background-color:#FFFFE8;*/
	border:1px solid #eee;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
	float:left;
}
.embedded-light .entity{
/*	background-color: #fff1a8;
	-moz-border-radius-bottomright:3px;*/
	padding:3px;
	margin-bottom:3px;
	position:relative;
	font-weight:bold;
	color:#444;
	border-bottom:1px solid #bbb;
}



.entityList{
width: 365px;
}

#datosContacto{
	min-width:950px;
}

#conductoresAdicionales .repeaterElement{margin-left:50px;}

#bonificaciones .labelLine{width:400px;}
#datosContacto .entity{display:block; clear:both;}
#datosContacto .entity .create {padding:3px 5px;display:block;}
#datosContacto .repeaterElement .labelLine {width:70px; position:relative;}
#datosContacto .repeaterElement input.go, #datosContacto .repeaterElement input.create  {float:left;}
#datosContacto .field {display:inline;}
#datosContacto .repeaterElement .field {display:inline;}
#datosContacto .repeaterElement .clearall{display:inline; }
#datosContacto .comentario-link{text-decoration:underline;float:left;margin:0 6px;}
#datosContacto .comentario-link:hover{cursor:pointer;}
#datosContacto .repeaterElement {border:1px solid #d8d8d8;border-top:1px solid #dfdfdf;margin-top:-1px;}
.comentario{margin-left:17px;
/*	clear:both;
	display:block;
	margin-left:70px;*/
}

.no-visible{ display:none;}

.age{display:inline !important;}

.valueFirst{float:left;margin-bottom:3px;margin-right:2px;}
.valueFirst label {
	clear:both !important;
	color:#444444 !important;
	display:block !important;
	font-size:11px !important;
	margin:0 !important;
	width:auto;
	text-align:left;
	float:none;
	line-height:15px;
	padding-left:2px;
}



.around{padding:5px 0px 0px 0px; float:left;width:100%;}
form div.focused
{
	background-color:#E3EFD1; -moz-border-radius:5px; -webkit-border-radius:5px;
}

input[type="text"]:focus {
	border:1px solid #888888;
}

#avisos{
	background-color:#C70000;
	color:#fff;
	padding:5px;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border: 1px solid #6B0000;
	text-align:center;
	display:none;
}

input.highlight{
	border:2px solid #63889E !important;	
}

#categoria{
	margin-left:183px;
	padding-bottom:10px;
}

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */
.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.tabs-nav a, .tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(../images/tab.png) no-repeat;
}
.tabs-nav a {
    position: relative;
    top: 1px;
    z-index: 2;
    padding-left: 0;
    color: #27537a;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
}
.tabs-nav .tabs-selected a {
    color: #000;
}
.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    background-position: 100% -150px;
    outline: 0; /* prevent dotted border in Firefox */
}
.tabs-nav a, .tabs-nav .tabs-disabled a:hover, .tabs-nav .tabs-disabled a:focus, .tabs-nav .tabs-disabled a:active {
    background-position: 100% -100px;
}
.tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.tabs-nav .tabs-selected a span {
    padding-top: 7px;
}
.tabs-nav .tabs-selected a span, .tabs-nav a:hover span, .tabs-nav a:focus span, .tabs-nav a:active span {
    background-position: 0 -50px;
}
.tabs-nav a span, .tabs-nav .tabs-disabled a:hover span, .tabs-nav .tabs-disabled a:focus span, .tabs-nav .tabs-disabled a:active span {
    background-position: 0 0;
}
.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.tabs-nav .tabs-disabled {
    opacity: .4;
}
.tabs-container {
    border-top: 1px solid #97a5b0;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}


.groupbox {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border-collapse:separate;
	border-spacing:0;
	clear:both;
	font-size:13px;
	line-height:1.4em;
	margin:0 0 10px 0;
	max-width:100%;
	padding:0;
	table-layout:fixed;
	background-color:#FFFFFF;
	border:1px solid #DFDFDF;	
}

.groupbox .header {
	background:#DFDFDF url(../images/gray-grad.png) repeat-x scroll left top;
	color:#333333;
	line-height:1.3em;
	overflow:hidden;
	padding:3px 7px 4px;
	text-align:left;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
	margin-bottom:5px;
}

.groupbox .header .name {
	font-weight:bold;
	margin:0 5px;
}
.groupbox .header .id {
	background-color:#ececec;
}

.groupbox .labelLine
{
	padding:0px !important;
}

.groupbox span.valueLine, .groupbox a.valueLine{
	padding-top:0px;
}

h2 .typeNiceName {
	font-family:Arial;
	font-size:13px;
	display:block;
	color:#50abbe;
	font-weight:normal;
	line-height:1;
}

h2 .title{
	font-family:Arial;	
	display:block;
	font-size:18px;
	color:#424242;
}

#btnSave {
	color:#39b62c !important;
	background:#fff;
	font-weight:bold;
}

.operations .OperationDiv{
	color:#444;
	font-size:12px;
}
.operations .OperationDiv.disabled{
	color:#aaa;
	font-size:12px;
}
.operations .OperationDiv.disabled:hover
{
	text-decoration:none;
	cursor:default;
}	

.operations{
margin-bottom:10px;
margin-left:-5px;
float:left;
clear:both;
display:block;
}
.labelLine, .valueLine{
	font-size:12px;
}

.fieldList{
	float:left;
}
#fields-search{
	min-width:500px;
	width:auto;
	max-width:700px;
}

/* tour */

#tour_browser{
	border:1px solid #D8D8D8;
	margin:0 10px 40px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	float:left;
	width:95%;
}
#tour_broser ul, li {
list-style-type:none;
margin:0;
padding:0;
}
div#browser_left, div#browser_right {
	float:left;
	width:125px;
}

div#browser_right {
	padding:30px 30px 60px 23px;
	position:relative;
	width:600px;
}
#browse_moto {
-moz-border-radius-topleft:5px;
-webkt-border-radius-topleft:5px;
radius-topleft:5px;
}

#browser_left ul li {
	background:transparent url(../Images/browser_buttons2.gif) no-repeat scroll 0 0;
	display:block;
	font-size:11px;
	height:100px;
	/*añado*/
	color:#777777;
display:block;
height:40px;
padding:60px 8px 0 0;
text-align:center;
}
#browser_left ul li a, #browser_left ul li a:visited {
color:#777777;
display:block;
height:40px;
padding:60px 8px 0 0;
text-align:center;
}

#browser_left a, #browser_right a {
/*border:0 none;*/
}

#browser_left ul li.on {
background-position:left -200px !important;
}
/*
#browser_left ul li:hover{
	background-position:left -100px;
}*/
#browser_left ul li a:hover {
color:#555555;
}
#browser_left ul li.passed {
	background-position:left -300px;
}
#browser_right h1{
font-size:1.5em;
margin-bottom:15px;
}
#browser_right .step{
color:#F5F5F5;
font-family:'Arial Black',Gadget,sans-serif;
font-size:15em;
font-weight:bold;
overflow-x:hidden;
position:absolute;
right:0;
top:-10px;
}
#browser_right span.contenido {
display:none;
}#browser_right span.on {
display:block;
float:left;
position:relative;
}

/*#browser_left ul li.on a, #browser_left ul li.on a:hover {*/
#browser_left ul li.on, #browser_left ul li.on:hover {
	color:#0281CA;
}
.buttons{
margin:10px auto;
text-align:center;
width:100%;
display:block;
clear:both;
}
.buttons input{

			cursor:pointer;
			padding:2px;
}



.awesome{
 background: #222 url(../images/alert-overlay.png) repeat-x;
 display: inline-block;
 padding: 2px 10px 3px !important;
 color: #fff;
 text-decoration: none;
 font-weight: bold;
 line-height: 18px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-box-shadow: 0 1px 3px #999;
 -webkit-box-shadow: 0 1px 3px #999;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
	border:0 none;
 border-bottom: 1px solid rgba(0, 0, 0, 0.25);
 position: relative;
 cursor: pointer;
 font-family:"Arial",Helvetica,Helvetica Neue,Verdana,sans-serif;
 font-size:13px;
 font-weight:bold;
 margin:10px;
}

.blue.awesome {
 background-color: #2daebf;
}
.blue.awesome:hover {
background-color:#007D9A;
}

#nav {
	color: #526783;
	font-size:17px;
	font-weight:bold;
	text-shadow: #fff 1px 1px;
}
#nav a {
	font-size:13px;
	color: #526783;
	font-weight:normal;
}
.menu{
	background-color: #ebf1f4;
	border-right:1px solid #ccd1d2;
	border-left:1px solid #ccd1d2;
	border-bottom:1px solid #ccd1d2;
}
#nav {margin-left:10px;}


input.OperationDiv {

}

input.create, input.find, input.remove, input.go, /*a.create,*/ a.find, a.remove, a.go {
	width:12px !important;
	height:16px !important;

	border:0px !important;
	text-indent:-9999px;
	padding:0px !important;
	filter: alpha(opacity=60); /* ie */
    opacity: .6; /* mozilla */
    -moz-opacity: .6; /* mozilla */
}

input.create:hover, input.find:hover, input.remove:hover, input.go:hover, a.create:hover, a.find:hover, a.remove:hover, a.go:hover {
	filter: alpha(opacity=100); /* ie */
    opacity: 1; /* mozilla */
    -moz-opacity: 1; /* mozilla */
}
input.create/*, a.create*/{
	background:transparent url(../images/botones.gif) no-repeat center 3px !important;

	/*background-position:left -1px;*/
}
input.find, a.find{
	background:transparent url(../images/botones.gif) no-repeat center -12px  !important;
	/*background-position:left -15px;*/
}
input.go, a.go{
	background:transparent url(../images/botones.gif) no-repeat center -28px  !important;
	/*background-position:left -15px;*/
}
input.remove, a.remove{
	background:transparent url(../images/botones.gif) no-repeat center  -44px !important;
	/*background-position:left -30px;*/
}

input[type=button].lineButton,/* input[type=button].OperationDiv,*/ #filters-body input[type=button], .OperationDiv[type=button], #tblFilters input[type=button], #lupa {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#fff url(../images/fade-butt.png) repeat-x scroll 0 -2px;
	border:1px solid #C3C3C3;
	margin:0 3px;
	padding: 0 5px;
}

input[type=button].lineButton:hover,#filters-body input[type=button]:hover, .OperationDiv[type=button]:hover, #tblFilters input[type=button]:hover{
	border-color: #444;	
	background-image:none;
	background-color:#d3d3d3;
}
input[type=text],input[type=password],select
{
    border: 1px solid #CCC;
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.message-area {
font-family:Arial;
font-size:12px;
left:50%;
overflow:hidden;
position:absolute;
top:0;
z-index:100000;
}

.message-area-text-container {
	font-weight:bold;
	overflow:hidden;
	text-align:center;
	white-space:nowrap;
	background-color:#FFF1A8;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	padding:4px;
}

.hidden{
	display:none !important;
}

.divResults {
	overflow:auto;
	float:left; }	
}
.popupWindow .divResults{max-height:500px;}

.dropdown
{
	margin: 0;
	padding: 0}
}
	.dropdown li
	{	float: left;
		list-style: none;
		font-size: 12px
	}

	.dropdown li a
	{	display: block;
		background: #20548E;
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		width: 70px;
		color: #EAFFED;
		white-space: nowrap}

	.dropdown li a:hover
	{	background: #1A4473}
		
		.dropdown li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white;
			z-index:1}
		
		.dropdown li ul li
		{	float: none;
			display: inline;
			}
		
		.dropdown li ul li a
		{	width: auto;
			background: #9F1B1B}
		
		.dropdown li ul li a:hover
		{	background: #7F1616}
		
		body{
			font-size:12px;
			background:url(../images/body-fondo2.jpg) repeat-x 0 0 #ced5db;
			}
			

			
.hideQuicklinks .quicklink-folded
{
	display:block !important;
}

.hideQuicklinks .quicklinks{
	display:none !important;
}

.update-number {
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
background-color:#4A98AF;
color:#FFFFFF;
font-size:8pt;
padding:0 6px !important;
margin:0 3px !important;
}

.tooltip{display:none;}

#encima{
position:absolute;
right:0;
top:0;
}

.count0{
	background-color:#999;
}

/* tables */
/*
table.tblResults {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tblResults thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}*/
table.tblResults thead tr .header {
/*	background-image: url(../images/bg.gif);*/
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}/*
table.tblResults tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}*/
table.tblResults tbody tr.odd td {
/*	background-color:#F0F0F6;*/
}
table.tblResults thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tblResults thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tblResults thead tr .headerSortDown, table.tblResults thead tr .headerSortUp {
background-color: #B5D0DF;
}

table.tblResults th{
padding:7px 15px 8px 7px;
background-color:#dfdfdf;
background-image:none;
}

.submenu li{
	list-style: disc;
	list-style-position:inside;
}

/* Widgets */
div.widget{
	padding:2px;
}

div.widget a.create{
	font-style:italic;	
	cursor:pointer;
	width:100%;
	text-align:center;	
	font-weight:normal;
}

div.widget a.navigate{
	cursor:pointer;
}

hr{
	color:#eee;
	margin:5px auto;
}

.fieldList table{float:left;}

input[type=button],#lupa{cursor:pointer;}

.customError{color:#ff3333; display:block; clear:both;}

#datespan .labelLine { width:50px;}


.dragHandle{
	cursor:move; text-shadow:1px 1px #fff;
	background:url(../images/popup-title-back.jpg) repeat-x 0 0 #e5e5e5;
	padding-top:1px; padding-bottom:1px;
	-moz-border-radius-topleft:7px;
	-webkit-border-radius-topleft:7px;
	border-radius-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-radius-topright:7px;
	border-radius-radius-topright:7px;	
/*	border-top:1px #eee solid; 
	border-left:1px #eee solid; 
	border-right:1px #eee solid; */
	border-bottom:1px solid #DADADA;
	}

.dragHandle span{font-size:12px;color:#141414;font-weight:bold;line-height:15px;
margin:0;
padding:0 5px;}
.dragHandle .popupEntityName{border-right:1px solid #CCCCCC; color:green;}
.popupWindow{background:none; background-color:#fff;border-color:#eee;-moz-box-shadow:0 0 0.6em #aaa}
.popupBackground{color:#fff;}

#login {text-align:right;}
body {border:0;}
/*
.nav{
	background:url(../images/fondo-menu-superior.jpg) repeat-x 0 0 #eee !important;
}

ul.main li a, ul.main li:hover a, ul.nav li a:focus {
	background:none !important;*/
}