
.no-clear{
	clear: none !important;
	table-layout:auto !important;
}
.importe{
	text-align:right !important;
}
.centered {
	text-align:center !important;
}
.right {
	text-align:right !important;
}
.total{
	font-weight:bold;
}

tr.selected{
	background: #E8EDF7 url(../images/alert-overlay.png) repeat-x left top;
	/*background-color:#DEEADC;*/
}

