	.tblResults {
		table-layout:fixed;
		background-color:#FFFFFF;
		border-color:#DFDFDF;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;				
		border-collapse:separate;
		border-spacing:0;
		border-style:solid;
		border-width:1px;
		clear:both;
		margin:0;
		max-width:100%;
		padding:0;
		line-height:1.4em;
		/*font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;*/
font-size:13px;
	}
	
	.tblResults a {
	text-decoration:none;
	color: #21759B;
	/*font-weight:bold;*/
	}
	.tblResults a[title=Navigate]{
	font-weight:bold;
	}
	.tblResults a:hover{
	color:#D54E21;
	}
	

.tblResults td, .tblResults th {
border-bottom-style:solid;
border-bottom-width:1px;
border-color:#DFDFDF;
font-size:12px;
vertical-align:text-top;
}
	.tblResults td {
		padding:3px 7px;
		vertical-align:top;
		border-right:1px solid #eee;
	}
	.tblResults th {
		border-right:1px solid #D0D0D0;
		text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
		line-height:1.3em;
padding:7px 7px 8px;
text-align:left;
	overflow:hidden;
	background:#DFDFDF url(../images/gray-grad.png) repeat-x scroll left top;
color:#333333;
	}
.tblResults * {
word-wrap:break-word;
}

.no-clear{
	clear: none !important;
	table-layout:auto !important;
}
.importe{
	text-align:right !important;
}
.centered {
	text-align:center !important;
}
.right {
	text-align:right !important;
}
.total{
	font-weight:bold;
}

tr.selected{
	background: #E8EDF7 url(../images/alert-overlay.png) repeat-x left top;
	/*background-color:#DEEADC;*/
}

#formasPago{width:500px !important;}