.sf-auth-rules
{
    margin-top: 20px;
    margin-bottom: 40px;
}

.sf-auth-rules th
{
    padding:2px;
}
.sf-auth-rules td
{
    vertical-align: top;    
}
.sf-auth-rules .sf-auth-overriden
{
    text-align:center;
}
.sf-auth-rules a:hover 
{
	cursor:pointer;
}
.sf-auth-rules .sf-auth-property
{
    background-image: url(../images/property.png);
    background-repeat: no-repeat;
}
.sf-auth-rules .sf-auth-operation
{
    background-image: url(../images/operation.png);
    background-repeat: no-repeat;
}
.sf-auth-rules .sf-auth-query
{
    background-image: url(../images/query.png);
    background-repeat: no-repeat;
}
.sf-auth-rules tr.first
{
    border-top: 1px gray solid
}
.sf-auth-rules tr:hover
{
    background-color: #F0F0F0
}
.sf-auth-rules span
{
    line-height: 22px;    
}
.sf-auth-rules .sf-auth-namespace-name
{
    vertical-align: top;    
}
.sf-auth-rules .sf-auth-namespace img
{
    margin-top: 3px;    
}
.sf-auth-rules .sf-auth-condition .sf-auth-label
{
    font-style: italic;
}
.sf-auth-rules .sf-auth-condition-button 
{
    margin: 5px 0 5px 3px;    
    width: 1.2em;
    background: none repeat scroll 0px 0px transparent !important;
    border: 0px none !important;
}
.sf-auth-rules .sf-auth-label
{
    margin-left: 3px;    
    vertical-align: top;
}

    .sf-auth-rules small {
        color:#bbb
    }

.sf-auth-chooser
{
    display: block;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
    width: 16px;
    height: 16px;
    background-position:  0 -32px; 
}
.sf-auth-chooser:hover
{
    background-position: 0 -48px; 
}
.sf-auth-chooser.sf-auth-read 
{
    background-image: url(../images/radioYellow.png);
}
.sf-auth-chooser.sf-auth-modify, .sf-auth-chooser.sf-auth-allowed
{
    background-image: url(../images/radioGreen.png);
}
.sf-auth-chooser.sf-auth-create
{
    background-image: url(../images/radioBlue.png);
}
.sf-auth-chooser.sf-auth-none, .sf-auth-chooser.sf-auth-not-allowed
{
    background-image: url(../images/radioRed.png);
}
.sf-auth-chooser-disabled
{
    background-position: 0 0px; 
}
.sf-auth-chooser-disabled:hover
{
    background-position: 0 -16px; 
}

.sf-auth-tree
{
    display: block;
    float:left;
    width: 16px;
    height: 22px;
    background-image: url("../images/treeView.png");
    text-decoration: none;
    cursor:pointer;
}
.sf-auth-tree.sf-auth-leaf
{
    background-position: 0px 0px; 
}
.sf-auth-tree.sf-auth-leaf-last
{
    background-position: 0px -22px; 
}
.sf-auth-tree.sf-auth-closed
{    
    background-position: -16px 0px; 
}
.sf-auth-tree.sf-auth-closed-last
{
    background-position: -16px -22px; 
}
.sf-auth-tree.sf-auth-expanded
{
    background-position: -32px 0px; 
}
.sf-auth-tree.sf-auth-expanded-last
{
    background-position: -32px -22px; 
}
.sf-auth-tree.sf-auth-line
{
    background-position: -48px 0px; 
}
.sf-auth-tree.sf-auth-blank
{
    background-position: -48px -22px; 
}

.sf-auth-thumb
{
   display:block;
   background-image: url("../images/thumb.png");
   width:16px;
   height:16px;
}
.sf-auth-thumb.sf-auth-none
{
    background-position: 0px 0px; 
}
.sf-auth-thumb.sf-auth-mix
{
    background-position: 0px -16px; 
}
.sf-auth-thumb.sf-auth-all
{
    background-position: 0px -32px; 
}


span.group.inactive
{
    color:#CCC
}

span.group.active
{
    color:black
}


/*form-compact*/

.form-compact .form-group
{
    margin-bottom: 0px;
    min-height: 30px;
}