table.ruleTable
{
    vertical-align: middle;
}

table.ruleTable th
{
    padding:2px;
}

table.ruleTable .overriden
{
    text-align:center;
}

table.ruleTable a:hover 
{
	cursor:pointer;
}

table.ruleTable .property
{
    background-image: url(../images/property.png);
    background-repeat: no-repeat;
}

table.ruleTable .operation
{
    background-image: url(../images/operation.png);
    background-repeat: no-repeat;
}

table.ruleTable .query
{
    background-image: url(../images/query.png);
    background-repeat: no-repeat;
}

a.cbLink
{
    display: block;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
    width: 16px;
    height: 16px;
    background-position:  0 -32px; 
}

a.cbLink:hover
{
    background-position: 0 -48px!; 
}

a.cbDisabled
{
    background-position: 0 0px; 
}

a.cbDisabled:hover
{
    background-position: 0 -16px; 
}

a.cbLink.read 
{
    background-image: url(../images/radioYellow.png);
}

a.cbLink.modify, a.cbLink.allowed
{
    background-image: url(../images/radioGreen.png);
}

a.cbLink.create
{
    background-image: url(../images/radioBlue.png);
}

a.cbLink.none, a.cbLink.not-allowed
{
    background-image: url(../images/radioRed.png);
}



.treeView
{
    float:left;
    width: 16px;
    height: 22px;
    background-image: url("../images/treeView.png");
    text-decoration: none;
    cursor:pointer;
}

.tvLeaf
{
    background-position: 0px 0px; 
}

.tvLeafLast
{
    background-position: 0px -22px; 
}

.tvClosed
{
    
    background-position: -16px 0px; 
}

.tvClosedLast
{
    background-position: -16px -22px; 
}

.tvExpanded
{
    background-position: -32px 0px; 
}

.tvExpandedLast
{
    background-position: -32px -22px; 
}

.tvLine
{
    background-position: -48px 0px; 
}

.tvBlank
{
    background-position: -48px -22px; 
}

.thumb
{
   background-image: url("../images/thumb.png");
   width:16px;
   height:16px;
}

.thumb.none
{
    background-position: 0px 0px; 
}

.thumb.mix
{
    background-position: 0px -16px; 
}

.thumb.all
{
    background-position: 0px -32px; 
}

tr.first
{
    border-top: 1px gray solid
}


table.ruleTable tr:hover
{
    background-color: #F0F0F0
}




