.sf-annual-calendar .sf-annual-calendar-month
{
    text-align: center;
    font-weight: bold;
}

.sf-annual-calendar td
{
    vertical-align: middle;    
    padding: 5px;
    border: 1px solid #AAA;
    width: 80px;
    height: 80px;
}

.sf-cal-cell-selected 
{
    background-color: #accae6;
    border: 1px solid #5166bb;
}