.sf-chartscript-columns .sf-repeater-element > legend
{
    float:right;
}

div.chart-column-parameters > fieldset
{
    padding: 2px 10px;
    margin: 2px;
}

div.chart-column-parameters > fieldset > legend
{
    font-size: 17px;
}

@media (min-width: 1200px)
{
    .sf-chart-type
    {
        margin-right: -25px;
    }
}

.sf-chart-type 
{
    margin-bottom: 4px;
}

.sf-chart-type > .panel-body
{
    padding: 14px;
}

.sf-chart-tokens
{
    margin-bottom: 6px;
}

.sf-chart-tokens > .panel-body
{
    padding: 0px
}

.sf-chart-tokens table.table
{
    width:auto;
}

.sf-chart-tokens table.table > thead > tr > th
{
    border-top: 0px;
}

.sf-chart-tokens table.table > tbody > tr > th
{
    text-align:right
}

.sf-chart-tokens table.table td,
.sf-chart-tokens table.table th
{
    vertical-align: middle;
}

.sf-chart-token-narrow
{
   min-width: 125px;
}

.sf-chart-token-wide {
    width: 100%;
}

.sf-chart-token th,
.sf-chart-token td
{
    padding: 4px !important;
}

.sf-chart-img
{
    height: 40px;
    width: 40px;
    float: left;
    cursor: pointer;
}
.sf-chart-img-equiv
{
    background-color: #dfefff;    
}
.sf-chart-img-curr
{
    background-color: #81bffc;    
}



.sf-chart-token-config td
{
    border-top: 1px dashed #ddd !important;     
}
.sf-chart-token-config-trigger
{
    float: right;
    cursor: pointer;    
}
.sf-chart-tokens .sf-field
{
    min-width: inherit;    
}
.sf-chart-token .sf-query-token
{
    float: left;    
}

.sf-chart-container
{
    width: 100%;
    min-height: 400px;    
}
.sf-chart-container svg
{
    shape-rendering: crispEdges;         
}

.sf-chart-color-table
{
    width: 0%;
}

.sf-chart-color-box
{
    width:16px;
    height:16px;
    border: 2px solid #AAA;
}
.sf-chart-control .sf-query-fullscreen {
    float: none;
}


.sf-chart-color-input.form-control {
    width: auto !important;
}