.sf-chartscript-columns .sf-line-detail-field
{
    border:none;
    padding:0px;
}

.sf-chartscript-columns .sf-repeater-element legend
{
    float:left;
}

.sf-chart-builder
{
    width: 100%;    
    margin-top: 2px;
    border-collapse: separate !important;
}
.sf-chart-type
{
    width: 162px;
}
.sf-chart-type .ui-widget-header, .sf-chart-tokens .ui-widget-header
{
    padding: 5px;
    border: 0 !important;    
}
.sf-chart-img
{
    height: 40px;
    width: 40px;
    float: left;
    cursor: pointer;
}
.sf-chart-img-equiv
{
    background-color: #dfefff;    
}
.sf-chart-img-curr
{
    background-color: #81bffc;    
}

.sf-chart-tokens table
{
    width: 100%;    
}
.sf-chart-tokens td, .sf-chart-tokens th 
{
    text-align: left;
    vertical-align: middle;   
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.sf-chart-tokens th.sf-chart-token-narrow
{  
    padding-right: 20px;
}
.sf-chart-tokens th.sf-chart-token-wide
{
    width: 100%;    
    padding-right: 5px;
}
.sf-chart-tokens td
{
    padding-right: 5px;    
}
.sf-chart-token td
{
    border-top: 1px solid #AAA;     
}
.sf-chart-token td:first-child
{
    font-weight: bold;    
}
.sf-chart-token-config td
{
    border-top: 1px dashed #AAA;     
}
.sf-chart-token-config-trigger
{
    float: right;
    cursor: pointer;    
}
.sf-chart-tokens .sf-field
{
    min-width: inherit;    
}
.sf-chart-token .sf-query-token
{
    float: left;    
}

.sf-chart-container
{
    width: 100%;
    min-height: 400px;    
}
.sf-chart-container svg
{
    shape-rendering: crispEdges;         
}

.sf-chart-color-table
{
    width: 0%;
}

.sf-chart-color-box
{
    width:16px;
    height:16px;
    border: 2px solid #AAA;
}