.sf-chart-builder
{
    width: 100%;    
    margin-top: 2px;
    border-collapse: separate !important;
}
.sf-chart-type
{
    width: 162px;
}
.sf-chart-type .ui-widget-header, .sf-chart-tokens .ui-widget-header
{
    padding: 5px;
    border: 0 !important;    
}
.sf-chart-img
{
    background-image: url('../Images/chartType.png');
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    float: left;
    cursor: pointer;
}
.sf-chart-img-equiv
{
    background-color: #dfefff;    
}
.sf-chart-img-curr
{
    background-color: #81bffc;    
}
.sf-chart-img-pie { background-position: 0 0 }
.sf-chart-img-doughnout { background-position: 0 -40px }
.sf-chart-img-points { background-position: 0 -80px }
.sf-chart-img-bubbles { background-position: 0 -120px }

.sf-chart-img-columns { background-position: -40px 0 }
.sf-chart-img-multicolumns { background-position: -40px -40px }
.sf-chart-img-stackedcolumns { background-position: -40px -80px }
.sf-chart-img-totalcolumns { background-position: -40px -120px }

.sf-chart-img-bars { background-position: -80px 0 }
.sf-chart-img-multibars { background-position: -80px -40px }
.sf-chart-img-stackedbars { background-position: -80px -80px }
.sf-chart-img-totalbars { background-position: -80px -120px }

.sf-chart-img-lines { background-position: -120px 0 }
.sf-chart-img-multilines { background-position: -120px -40px }
.sf-chart-img-stackedareas { background-position: -120px -80px }
.sf-chart-img-totalareas { background-position: -120px -120px }

.sf-chart-tokens table
{
    width: 100%;    
}
.sf-chart-tokens td, .sf-chart-tokens th 
{
    text-align: left;
    vertical-align: middle;   
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.sf-chart-tokens th.sf-chart-token-narrow
{  
    padding-right: 20px;
}
.sf-chart-tokens th.sf-chart-token-wide
{
    width: 100%;    
    padding-right: 5px;
}
.sf-chart-tokens td
{
    padding-right: 5px;    
}
.sf-chart-token td
{
    border-top: 1px solid #AAA;     
}
.sf-chart-token td:first-child
{
    font-weight: bold;    
}
.sf-chart-token-config td
{
    border-top: 1px dashed #AAA;     
}
.sf-chart-token-config-trigger
{
    float: right;
    cursor: pointer;    
}
.sf-chart-tokens .sf-field
{
    min-width: inherit;    
}
.sf-chart-token .sf-query-token
{
    float: left;    
}

.sf-chart-container
{
    width: 100%;
    min-height: 400px;    
}
.sf-chart-container svg
{
    shape-rendering: crispEdges;         
}
.sf-chart-container line.x-ruler, .sf-chart-container line.y-ruler
{
    stroke: #ccc;   
}
.sf-chart-container line.x-axis, .sf-chart-container line.y-axis, .sf-chart-container line.x-axis-tick, .sf-chart-container line.y-axis-tick
{
    stroke: #000;    
}
.sf-chart-container text.x-axis-token-label, .sf-chart-container text.y-axis-token-label, text.sf-chart-strong
{
    font-weight: bold;    
}
.sf-chart-code-container
{
    padding: 5px;    
}
.sf-chart-code textarea
{
    width: 100%;
}