.sf-html-editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 4px -3px #ABABAB;
}

.sf-html-editor .DraftEditor-root {
    overflow: auto;
}

.sf-html-editor .public-DraftEditor-content {
    min-height: 140px;
    padding: 0 10px;
    outline: 0;
}

.sf-draft-toolbar {
    border: 1px solid #ddd;
    border-radius: 2px;
    z-index: 2;
    box-sizing: border-box;
    margin-top: -17px;
    margin-left: -17px;
    margin-right: -17px;
    margin-bottom: 7px;
    background: #fbfbfb;
}

.sf-draft-button-wrapper {
    display: inline-block;
}

.sf-draft-button {
    background: none;
    color: #888;
    border: 0;
    vertical-align: bottom;
    height: 30px;
    width: 30px;
    line-height: 10px;
    font-weight: bold;
}

.sf-draft-button svg {
    fill: #888;
}

.sf-draft-button:hover,
.draft-button:focus {
    background: #f3f3f3;
    outline: 0;
}

.sf-draft-button.sf-draft-active {
    background-color: #ddd;
    color: #555;
}

.sf-draft-button.sf-draft-active:hover,
.sf-draft-button.sf-draft-active:focus {
    background-color: #ccc;
    color: #444;
}



.sf-html-separator {
    display: inline-block;
    border-right: 1px solid #ddd;
    height: 24px;
    margin: 0 0.5em;
}


.sf-html-editor blockquote {
    margin: 0 0 1rem 0;
    border-left: 4px solid #ddd;
    padding-left: 10px;
    margin-block-end: 0px;
}

.sf-html-editor.small-mode {
    box-shadow: none;
    margin-bottom: 0px;

}

.sf-html-editor.small-mode:not(:has(.sf-draft-toolbar)) {
    padding: 0px;
}

.sf-html-editor.small-mode .public-DraftEditor-content {
    min-height: 50px;
}

.sf-html-editor .public-DraftStyleDefault-pre {
    font-size: initial;
    background: #eee;
    padding: 10px;
}

.sf-html-editor pre {
    margin-bottom: 0px;
}

.sf-html-editor h1 {
    font-size: 2rem;
}

.sf-html-editor h2 {
    font-size: 1.7rem;
}

.sf-html-editor h3 {
    font-size: 1.5rem;
}

.sf-html-editor .text-underline {
    text-decoration: underline;
}

.sf-html-editor .text-code {
    font-family: 'Courier New', Courier, monospace;
}

.html-viewer .sf-html-editor {
    border: 0px;
    box-shadow: none;
    margin-bottom: 0px;
    padding: 0px;
}

.html-viewer .sf-html-editor .public-DraftEditor-content {
    padding: 0px;
    min-height: initial;
}