.sf-html-editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 4px -3px #ABABAB;
}

.sf-html-editor .DraftEditor-root {
    overflow: auto;
}

.sf-html-editor .public-DraftEditor-content {
    min-height: 140px;
    padding: 0 10px;
    outline: 0;
}

.sf-draft-toolbar {
    border: 1px solid #ddd;
    border-radius: 2px;
    z-index: 2;
    box-sizing: border-box;
    margin-top: -17px;
    margin-left: -17px;
    margin-right: -17px;
    margin-bottom: 7px;
    background: #fbfbfb;
}

.sf-draft-button-wrapper {
    display: inline-block;
}

.sf-draft-button {
    background: none;
    color: #888;
    border: 0;
    vertical-align: bottom;
    height: 30px;
    width: 30px;
    line-height: 10px;
    font-weight: bold;
}

.sf-draft-button svg {
    fill: #888;
}

.sf-draft-button:hover,
.draft-button:focus {
    background: #f3f3f3;
    outline: 0;
}

.sf-draft-button.sf-draft-active {
    background-color: #ddd;
    color: #555;
}

.sf-draft-button.sf-draft-active:hover,
.sf-draft-button.sf-draft-active:focus {
    background-color: #ccc;
    color: #444;
}

.sf-html-separator {
    display: inline-block;
    border-right: 1px solid #ddd;
    height: 24px;
    margin: 0 0.5em;
}

.sf-html-editor p {
  margin-bottom: 0.5em;
}

.sf-html-editor blockquote {
    margin: 0 0 1rem 0;
    border-left: 4px solid #ddd;
    padding-left: 10px;
    margin-block-end: 0px;
}

.sf-html-editor.small-mode {
    box-shadow: none;
    margin-bottom: 0px;

}

.sf-html-editor.small-mode:not(:has(.sf-draft-toolbar)) {
    padding: 0px;
}

.sf-html-editor.small-mode .public-DraftEditor-content {
    min-height: 50px;
}

.sf-html-editor .public-DraftStyleDefault-pre {
    font-size: initial;
    background: #eee;
    padding: 10px;
}

.sf-html-editor pre {
    margin-bottom: 0px;
}

.sf-html-editor h1 {
    font-size: 2rem;
}

.sf-html-editor h2 {
    font-size: 1.7rem;
}

.sf-html-editor h3 {
    font-size: 1.5rem;
}

.sf-html-editor {
    li:has(ul), li:has(ol) {
        list-style-type: none;
    }
}

.sf-html-editor .text-underline {
    text-decoration: underline;
}

.sf-html-editor .text-code {
    font-family: Menlo, Consolas, Monaco, monospace;
    color: #555;
}

.sf-html-editor .code-block {
    color: #555;
    background-color: rgb(240, 242, 245);
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow-x: auto;
    position: relative;
    tab-size: 2;
}

.sf-html-editor .code-block:before {
    content: attr(data-gutter);
    position: absolute;
    background-color: #eee;
    left: 0;
    top: 0;
    border-right: 1px solid #ccc;
    padding: 8px;
    color: #777;
    white-space: pre-wrap;
    text-align: right;
    min-width: 25px;
}

.sf-html-editor .code-token-attr {
    color: #07a;
}

.sf-html-editor .code-token-function {
    color: #dd4a68;
}

.sf-html-editor .code-token-property {
    color: #905;
}

.sf-html-editor .code-token-selector {
    color: #690;
}

.sf-html-editor .code-token-comment {
    color: slategray;
}

.sf-html-editor .code-token-operator {
    color: #9a6e3a;
}

.sf-html-editor .code-token-variable {
    color: #e90;
}

.sf-html-editor .code-token-punctuation {
    color: #999;
}

.html-viewer .sf-html-editor {
    border: 0px;
    box-shadow: none;
    margin-bottom: 0px;
    padding: 0px;
}

.html-viewer .sf-html-editor .public-DraftEditor-content {
    padding: 0px;
    min-height: initial;
}
