.sf-html-editor {
    box-sizing: border-box;
    border: 1px solid var(--bs-border-color);
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 4px -3px var(--bs-box-shadow);
    position: relative;
}

    .sf-html-editor:has([contenteditable="true"]) {
        background: var(--bs-body-bg);
    }

    .sf-html-editor .DraftEditor-root {
        overflow: auto;
    }

    .sf-html-editor .public-DraftEditor-content {
        min-height: 140px;
        padding: 0 10px;
        outline: 0;
        /*background: var(--bs-body-bg);*/
    }

.sf-html-editor-placeholder {
    color: var(--bs-secondary-color);
    position: absolute;
    font-size: small;
    top: 40px;
    left: 30px;
}

.sf-draft-toolbar {
    border: 1px solid var(--bs-border-color);
    border-radius: 2px;
    z-index: 2;
    box-sizing: border-box;
    margin-top: -17px;
    margin-left: -17px;
    margin-right: -17px;
    margin-bottom: 7px;
    background: var(--bs-secondary-bg);
}

.sf-draft-button-wrapper {
    display: inline-block;
}

.sf-draft-button {
    background: none;
    color: var(--bs-secondary-color);
    border: 0;
    vertical-align: bottom;
    height: 30px;
    /*width: 30px;*/
    line-height: 10px;
    font-weight: bold;
}

    .sf-draft-button svg {
        fill: var(--bs-secondary-color);
    }

    .sf-draft-button:hover,
    .draft-button:focus {
        background: var(--bs-secondary-bg-subtle);
        outline: 0;
    }

    .sf-draft-button.sf-draft-active {
        background-color: var(--bs-secondary-bg-subtle);
        color: var(--bs-secondary-color);
    }

        .sf-draft-button.sf-draft-active:hover,
        .sf-draft-button.sf-draft-active:focus {
            background-color: var(--bs-secondary-bg-subtle);
            color: var(--bs-secondary-color);
        }

.sf-html-separator {
    display: inline-block;
    border-right: 1px solid var(--bs-border-color);
    height: 24px;
    margin: 0 0.5em;
}

.sf-html-editor p,
.sf-html-editor ol,
.sf-html-editor ul {
    margin-bottom: 0.5em;
}

.sf-html-editor blockquote {
    margin: 0 0 1rem 0;
    border-left: 4px solid var(--bs-border-color);
    padding-left: 10px;
    margin-block-end: 0px;
}

.sf-html-editor.small-mode {
    box-shadow: none;
    margin-bottom: 0px;
}

    .sf-html-editor.small-mode:not(:has(.sf-draft-toolbar)) {
        padding: 0px;
    }

    .sf-html-editor.small-mode .public-DraftEditor-content {
        min-height: 50px;
        /*background: var(--bs-body-bg);*/
    }

.sf-html-editor .public-DraftStyleDefault-pre {
    font-size: initial;
    background: var(--bs-body-bg-subtle);
    padding: 10px;
}

.sf-html-editor pre {
    margin-bottom: 0px;
}

.sf-html-editor h1 {
    font-size: 2rem;
}

.sf-html-editor h2 {
    font-size: 1.7rem;
}

.sf-html-editor h3 {
    font-size: 1.5rem;
}

.sf-html-editor {
    li: has(ul), li:has(ol)

{
    list-style-type: none;
}

}

.sf-html-editor .text-underline {
    text-decoration: underline;
}

.sf-html-editor .text-code {
    font-family: Menlo, Consolas, Monaco, monospace;
    color: var(--bs-secondary-color);
}

.sf-html-editor .code-block {
    color: var(--bs-secondary-color);
    background-color: var(--bs-body-bg-subtle);
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow-x: auto;
    position: relative;
    tab-size: 2;
}

    .sf-html-editor .code-block:before {
        content: attr(data-gutter);
        position: absolute;
        background-color: var(--bs-body-bg-subtle);
        left: 0;
        top: 0;
        border-right: 1px solid var(--bs-border-color);
        padding: 8px;
        color: var(--bs-secondary-color);
        white-space: pre-wrap;
        text-align: right;
        min-width: 25px;
    }

.sf-html-editor .code-token-attr {
    color: var(--bs-primary);
}

.sf-html-editor .code-token-function {
    color: var(--bs-danger);
}

.sf-html-editor .code-token-property {
    color: var(--bs-info);
}

.sf-html-editor .code-token-selector {
    color: var(--bs-success);
}

.sf-html-editor .code-token-comment {
    color: var(--bs-secondary-color);
}

.sf-html-editor .code-token-operator {
    color: var(--bs-warning);
}

.sf-html-editor .code-token-variable {
    color: var(--bs-orange, var(--bs-warning));
}

.sf-html-editor .code-token-punctuation {
    color: var(--bs-body-color);
}

.html-viewer .sf-html-editor {
    border: 0px;
    box-shadow: none;
    margin-bottom: 0px;
    padding: 0px;
}

    .html-viewer .sf-html-editor .public-DraftEditor-content {
        padding: 0px;
        min-height: initial;
    }
