.lex-editor-container {
    position: relative;
    border-collapse: collapse;
}

.lex-editor-inner {
    position: relative;
    border: 1px solid #ddd;
}

.lex-editor-input {
    font-weight: 400;
    min-height: 150px;
    position: relative;
    resize: none;
    outline: 0;
    padding: 15px 10px;
}

.lex-editor-placeholder {
    color: rgb(150, 150, 150);
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 15px;
    left: 10px;
    user-select: none;
    pointer-events: none;
}

.lex-toolbar {
    display: flex;
    gap: 2px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fbfbfb;
}

.lex-toolbar-item-wrapper {
    position: relative;
}

.lex-toolbar-item-menu {
    z-index: 1;
    position: absolute;
    top: calc(100% + 4px);
    display: flex;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fbfbfb;
}

.lex-toolbar-item {
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-weight: bold;
    color: #888;
    cursor: pointer!important;
    vertical-align: middle;
    max-height: 30px;
}

.lex-toolbar-item-active {
    color: #000;
}

.lex-toolbar-separator {
    width: 1px;
    background-color: #ddd;
    margin: 0 0.5em;
}

.lex-editor-paragraph {
    margin: 0;
}

.lex-editor-bold {
    font-weight: bold;
}

.lex-editor-italic {
    font-style: italic;
}

.lex-editor-text-underline {
    text-decoration: underline;
}

.lex-editor-code {
    font-family: 'Courier New', Courier, monospace;
}

.lex-editor-heading-h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.lex-editor-heading-h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.lex-editor-heading-h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}