.colorIcon {
    color: var(--bs-body-color);
    padding: 2px;
    margin: 0 2px;
}

.colorIcon.red {
    background: var(--bs-danger);
}

.colorIcon.mini.red {
    background: var(--bs-danger-subtle);
}

.colorIcon.green {
    background: var(--bs-success);
}

.colorIcon.mini.green {
    background: var(--bs-success-subtle);
}

.colorIcon.gray {
    background: var(--bs-secondary-bg);
}

.nav-tabs>li.linkTab>a:hover {
    border-color: transparent;
    background-color: transparent;
}