.valueLine {
	clear:both;
}
.labelLine{
	margin:0;
	padding:0;
	width:auto;
}
.labelLine, .valueLine, .operations .OperationDiv, .operations .OperationDiv.disabled {
font-size:95%;
}

h2 .title {
font-size:95%;
}
h2 .typeNiceName {
font-size:85%;
}
a {font-weight:normal;}
ul.main li a{
	padding-left:6px;
	padding-right:6px;
}

.update-number {
	font-size:80%;
}
div.menu{
	position:absolute;
	z-index:100;
}
html {
	-webkit-text-size-adjust:none;
}
body{
	max-width:480px;
	font-size:17px;
	font-family:Helvetica;
}
.container_12, .container_16 {
margin-left:1%;
margin-right:1%;
width:98%;
}

ul.nav.main{
	font-size:70%;
}

input[type="text"], input[type="password"], select {
width:95%;
}