/* Default CSS rules are embedded in Signum.Web and are accessible via Signum/Content/LineStyles.css */
/* Feel free to override them as you wish here */

a {
	text-decoration:none;
}
header {
	border-bottom:1px solid #e9e9e9;
	margin-bottom:20px;
	display:block;
}

footer
{
	clear:both;
	background-color:#999;
	display:block;
}

#powered 
{
	color:#eee;
}

#user-info {
	text-align:right;
	float:right;
	padding:10px;
}

#menu 
{
	clear: left;
    float: left;
    margin: 0 5px 15px -155px;
    padding: 0;
    position: relative;
    width: 145px;
}

#content
{
	float: left;
    width: 100%;
    margin-bottom:20px;
}

#main 
{
	clear: both;
    margin-left: 175px;
	height: 100%;
	padding:20px;
}

body
{
	background-color:#ececec;
}

#wrap
{
	background-color:#fff;
	margin: 0 30px;
	-moz-box-shadow:0 0 20px #bbb;
	-webkit-box-shadow:0 0 20px #bbb;
	box-shadow:0 0 20px #bbb;
}

h1 
{
	font-size:200%;
	padding:10px;
}

.clear
{
	 clear: both;
}

#menu li
{
	margin-left:10px;
}

#divNormalControl > h2 
{
	padding-left:4px;
}

#content h2 
{
	color: #424242;
    font-size: 18px;
	margin-bottom:10px;
}


.labelLine 
{
	color:#444;
}

.filters-header:before 
{
	content: "↑";
}

.filters-header {
	background-color: inherit !important;
    border: 0 !important;
    padding: 0 !important;
    margin-bottom:2px !important;
    display:block;
    float:none !important;
}


/* FindNavigator */
.filters
{
	margin-bottom:10px;
}

.search-footer
{
	margin: 0 !important;
	margin-bottom:10px;
}

.field .entityList 
{
	min-width:120px;
}

.labelLine 
{
	width:80px !important;
}

.sf-line-button
{
    border:0 !important;
    background:none !important;
    width:1em !important;
    margin:0 .1em !important;
}

.ui-widget 
{
    font-size:12px !important;
    font-family:Arial, Verdana !important;
}