.sf-chart-type {
    margin-bottom: 4px;
}

.sf-chart-type>.card-body {
    padding: 10px;
}

.number-label {
    cursor: pointer;
    user-select: none;
}

.sf-chart-tokens {
    margin-bottom: 6px;
}

.sf-chart-tokens>.card-body {
    padding: 0px
}

.sf-chart-tokens table.table {
    width: auto;
}

.sf-chart-tokens table.table>thead>tr>th {
    border-top: 0px;
}

.sf-chart-tokens table.table>tbody>tr>th {
    text-align: right
}

.sf-chart-tokens table.table td,
.sf-chart-tokens table.table th {
    vertical-align: middle;
}

.sf-chart-token-narrow {
    min-width: 125px;
}

.sf-chart-token-wide {
    width: 100%;
}

.sf-chart-token th,
.sf-chart-token td {
    padding: 4px !important;
}

.sf-chart-img {
    height: 40px;
    width: 40px;
    float: left;
    cursor: pointer;
}

.sf-chart-img-equiv {
    background-color: var(--bs-info-bg-subtle);
}

.sf-chart-img-curr {
    background-color: var(--bs-primary-bg-subtle);
}

.sf-chart-img-curr.edited {
    background-color: var(--bs-warning-bg-subtle);
}



.sf-chart-token-config td {
    border-top: 1px dashed var(--bs-border-color) !important;
}

.sf-chart-token-config-trigger {
    cursor: pointer;
    margin-top: 4px
}

body:not(.rtl) .sf-chart-token-config-trigger {
    float: right;
}

body.rtl .sf-chart-token-config-trigger {
    float: left;
}

.sf-chart-tokens .sf-field {
    min-width: inherit;
}

body:not(.rtl) .sf-chart-token .sf-query-token {
    float: left;
}

body.rtl .sf-chart-token .sf-query-token {
    float: right;
}

.sf-chart-container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;
}

.sf-chart-container svg {
    shape-rendering: crispEdges;
    user-select: none;
}

    .sf-chart-container svg text:not([fill]){
        fill: currentColor;
    }


.sf-chart-color-table {
    width: 0%;
}

.sf-chart-color-box {
    width: 16px;
    height: 16px;
    border: 2px solid var(--bs-border-color);
}


.sf-chart-color-input.form-control {
    width: auto !important;
}

[data-click] {
    cursor: pointer;
}

.exceptionLine {
    background-color: var(--bs-danger-bg-subtle);
}

.sf-chart-animable .sf-transition {
    transition: all 0.3s cubic-bezier(0.92, 0.02, 0.21, 1.01), filter 0s linear
}

.hover-group:hover .hover-target {
    filter: brightness(1.2);
}

text.sf-initial-message {
    font-size: 25px;
    text-anchor: middle;
    stroke: var(--bs-secondary-color);
    stroke-width: 1px;
    font-weight: bold;
    fill: var(--bs-body-bg);
}

.sf-chart-mini-icon {
    cursor: pointer;
    color: var(--bs-secondary-color);
}

.sf-chart-mini-icon:hover {
    color: var(--bs-secondary-color);
}


.sf-chart-tab-container,
.sf-chart-tab-container .tab-content,
.sf-chart-tab-container .tab-content .tab-pane.active {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


line.y-line,
line.x-key-line-group,
line.y-tick,
line.x-key-tick {
    stroke: var(--bs-border-color);
}
