@using System.Configuration
@using Signum.Entities.Dashboard
@using Signum.Web.Dashboard
@using Signum.Entities.DynamicQuery
@using Signum.Web.UserQueries

@using (var tc = Html.TypeContext<CountSearchControlPartEntity>())
{
    <div class="sf-cp-count-uq-list">
        @for (int i = 0; i < tc.Value.UserQueries.Count; i++)
        {
            CountUserQueryElementEntity uq = tc.Value.UserQueries[i];
            object queryName = Finder.Manager.QuerySettings.Keys.FirstEx(k => QueryUtils.GetQueryUniqueKey(k) == uq.UserQuery.Query.Key);
            FindOptions fo = new FindOptions(queryName)
            {
                ShowFilters = false
            };

            fo.ApplyUserQuery(uq.UserQuery);
            <p>
                @Html.CountSearchControlSpan(fo, new Context(tc, "{0}_cnt".FormatWith(i)), csc =>
           {
               csc.Navigate = true;
               csc.Href = uq.Href;
               csc.QueryLabelText = uq.Label.DefaultText(uq.UserQuery.ToString());
           })
            </p>
        }
    </div>
}