@using System.Configuration
@using Signum.Entities.Dashboard
@using Signum.Web.Dashboard
@model PanelPartEntity

@{ 
    string prefix = "r{0}c{1}".FormatWith(Model.Row, Model.StartColumn);
    DashboardClient.PartViews config = DashboardClient.PanelPartViews[Model.Content.GetType()];
    var link = config.TitleLink == null ? null : config.TitleLink(Model.Content); 
}
<div class="panel panel-@Model.Style.ToString().ToLower()">
    <div class="panel-heading">
        @if (link == null)
        {
            @Model.ToString()
        }
        else
        {
            <a href="@link">@Model.ToString()</a>
        }
        @if (config.HasFullScreenLink)
        {
            <a id="@TypeContextUtilities.Compose(prefix, "sfFullScreen")" class="sf-ftbl-header-fullscreen" href="#">
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        }
    </div>

    <div class="panel-body">
        @{ Html.RenderPartial(config.FrontEndView, TypeContextUtilities.UntypedNew(Model.Content, prefix)); }
    </div>

</div>
