@{
   this.ViewBag.Title =  "Music Test Project";
}

<h2>@Html.Encode(ViewData["Message"])</h2>
<p>
    Music Test Project
</p>
<br />
<div class="sf-chart-container"></div>

@Html.ScriptCss("~/Chart/Content/SF_Chart.css")

@Html.ScriptsJs("~/scripts/d3.min.js",
                "~/scripts/chart-test.js")