@using Signum.Entities.Dashboard
@using Signum.Web.Dashboard

@using (var tc = Html.TypeContext<CountSearchControlPartDN>())
{
    tc.FormGroupStyle = FormGroupStyle.SrOnly;
    tc.PlaceholderLabels = true;
  
    <div class="form-inline repeater-inline">
        @Html.EntityRepeater(tc, p => p.UserQueries)
    </div>
}
