@supports (-webkit-appearance:none) {
    input[type=file].form-control {
            padding-top: 1px;
    }
}

.sf-file-drop
{
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: .5em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

.sf-file-drop .sf-upload{
    margin-top: -5px;
    margin-bottom: -5px;
}
.sf-file-drop-over {
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}
.sf-file-line-new
{
    overflow: hidden;
}

.form-control.file-control {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sf-file-image-container {
    position: relative;
    border: 1px solid #eee;
}

.sf-file-image-container:hover {
    border: 1px solid #ddd;
}

    .sf-file-image-container img {
        width: 100%;
    }

    .sf-file-image-container .sf-remove {
        position: absolute;
        right: 3px;
        top: 0px;
    }


/*Upload file*/
.sf-upload {
    padding: 8px 10px;
    position: relative;
}

    .sf-upload i {
        padding-right: 10px;
    }

    .sf-upload input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        cursor: pointer;
    }


/*.sf-image-container{
    display: flex;
    margin: 10px;
}

    .sf-image-container .sf-remove {
        margin-left: -16px;
        z-index: 10;
    }*/
