div.properties h4 {
    color: var(--bs-secondary-text);
}

div.properties a.sf-line-button:not(:hover) {
    color: var(--bs-secondary-text);
}

div.properties div.card-header {
    padding: 5px;
}

div.properties .panel-group {
    margin-bottom: 5px;
}

div.validators h4 {
    color: var(--bs-warning);
}

div.validators a.sf-line-button:not(:hover) {
    color: var(--bs-warning);
}

div.validators div.card-header {
    padding: 2px;
}

div.validators .panel-group {
    margin-bottom: 5px;
}

.small-codemirror .CodeMirror {
    height: auto;
}

.database-mapping {
    color: var(--bs-success);
}