div.sf-dynamic-type-help{
    background: #eee;
    margin: -5px;
    padding: 5px;
}

div.sf-dynamic-type-help h4{
    font-family: monospace;
}


div.sf-dynamic-type-help-bar{
    background: #ddd;
    margin: -5px;
    padding: 5px;
}



ul.sf-dynamic-members {
    font-family: monospace;
    font-size: 13px;
    white-space: nowrap;
    padding-left: 10px;
    list-style: none;
    overflow:auto;
}

ul.sf-dynamic-members ul.sf-dynamic-members{
    background:rgba(204, 204, 204, 0.5);
}

span.sf-dynamic-member-name {
    font-weight: bold;
}

span.sf-dynamic-member-primitive {
    color: blue;
}

.sf-dynamic-member-class {
    color: #156F8A;
}

span.sf-dynamic-member-date {
    color: #5100A1;
}

.sf-dynamic-member-enum {
    color: #800046;
}

span.sf-dynamic-member-lite {
    color: #2B91AF;
}

span.sf-dynamic-member-collection {
    color: #CE6700;
}

span.sf-dynamic-member-others {
    color: #808080;
}
