@using Signum.Engine
@using Signum.Entities.SMS;
@using Signum.Web;
@using Signum.Web.SMS;
@using Signum.Utilities


@Html.ScriptCss("~/SMS/Content/SMS.css")

@using (var e = Html.TypeContext<MultipleSMSModel>())
{
    <div class="sf-sms-edit-container">
        @Html.ValueLine(e, s => s.Message, vl =>
        {
            vl.ValueLineType = ValueLineType.TextArea;
            vl.ValueHtmlProps["cols"] = "30";
            vl.ValueHtmlProps["rows"] = "6";
            vl.ValueHtmlProps["class"] = "sf-sms-msg-text";
        })
        <div class="sf-sms-characters-left">
            <p>
                <span>@SmsMessage.RemainingCharacters.NiceToString()</span>: <span class="sf-sms-chars-left"></span>
            </p>
        </div>
        <div>
            <input type="button" class="sf-button sf-sms-remove-chars" value="Remove non valid characters" />
        </div>
    </div>
    <br />
    @Html.ValueLine(e, s => s.From)
}
