.progressContainer
{
	padding: 3px;
	border: solid 1px #BDBDBD;
	width: 250px;
	height:15px;
}

.progressBar
{
	background-color: #A9F5F2;
	width: 0px;
	height: auto;
}

span.process-contextual-icon {
    float: right;
    font-size: initial;
    margin-left: 5px;
    color: gray;
}

span.process-contextual-icon:hover {
    color: black;
}
