<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Signum.Windows.Extensions.Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Signum.Windows.Extensions.Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="BindingMaxClockSkew" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <transactionFlow/>
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap authenticationMode="SspiNegotiated">
              <localClientSettings maxClockSkew="00:30:00"/>
            </secureConversationBootstrap>
            <localClientSettings maxClockSkew="00:30:00"/>
          </security>

          <textMessageEncoding>
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          </textMessageEncoding>

          <httpTransport maxReceivedMessageSize="2000000000"/>
        </binding>
      </customBinding>
    </bindings>
    <client>

      <endpoint address="http://localhost/Signum.Web.Extensions.Sample/ServerSample.svc" binding="customBinding" bindingConfiguration="BindingMaxClockSkew" contract="Signum.Test.Extensions.IServerSample" name="server"/>
    </client>
  </system.serviceModel>

  <userSettings>
    <Signum.Windows.Extensions.Sample.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value/>
      </setting>
    </Signum.Windows.Extensions.Sample.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Signum.Windows.Extensions.Sample.Properties.Settings>
      <setting name="Autologin" serializeAs="String">
        <value/>
      </setting>
    </Signum.Windows.Extensions.Sample.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
