<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="friendBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="8388608">
          <readerQuotas maxArrayLength="2147483647"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7654/Server$custommessage$.svc" binding="wsHttpBinding" bindingConfiguration="friendBinding" contract="$custommessage$.Services.IServer$custommessage$" name="server"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
