/*@media (min-width: 768px) {
    .modal-dialog:not(.modal-sm) {
        min-width: 730px;
    }
}*/

@media (min-width: 768px) {
    .modal-medium,
    .modal-lg {
        min-width: 730px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        min-width: 960px;
    }
}

@media (min-width: 1200px) {
    .modal-lg {
        min-width: 1160px;
    }
}

/*@media (min-width: 1820px) {
    .modal-lg {
        min-width: 1780px;
    }
}

@media (min-width: 2460px) {
    .modal-lg {
        min-width: 2400px;
    }
}

@media (min-width: 3740px) {
    .modal-lg {
        min-width: 3680px;
    }
}*/

.sf-button-bar
{
    margin-bottom: 16px;
}

.modal-body > .sf-button-bar
{
    margin-top: -5px;
}

.validaton-summary li
{
    list-style: none;
}

/*.modal-footer
{
    margin-top: 0px
}*/

.sf-ok-button
{
    min-width: 70px;
}

.sf-chooser-button
{
    width: 100%;
    margin-bottom: 6px;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.sf-entity-title {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;
}


button.dropdown-item:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.sf-pointer {
    cursor: pointer;
}

a.expand-window {
    cursor: pointer;
    color: lightgray;
    margin-top: 10px;
    position: fixed;
    top: 50px;
    right: 6px;
    z-index: 1000;
}

a.expand-window:hover {
    color:gray;
}

.btn-toolbar.right .btn,
.btn-toolbar.right .btn-group,
.btn-toolbar.right .input-group {
  float: right;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group,
.btn-toolbar > .dropdown {
    margin-bottom: 5px;
    margin-right: 10px;
}

.code-container {
    direction: ltr;
    text-align: left;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}