.sf-button-bar
{
    margin-bottom: 16px;
}

.modal-body > .sf-button-bar
{
    margin-top: -5px;
}

.validaton-summary li
{
    list-style: none;
}

/*.modal-footer
{
    margin-top: 0px
}*/

.sf-ok-button
{
    min-width: 70px;
}

.sf-chooser-button
{
    width: 100%;
    margin-bottom: 6px;
}





.sf-pointer {
    cursor:pointer;
}

a.expand-window {
    cursor: pointer;
    color: lightgray;
    margin-top: 10px;
    position: fixed;
    top: 50px;
    right: 6px;
    z-index: 1000;
}

a.expand-window:hover {
    color:gray;
}

.btn-toolbar.right .btn,
.btn-toolbar.right .btn-group,
.btn-toolbar.right .input-group {
  float: right;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group,
.btn-toolbar > .dropdown {
    margin-bottom: 5px;
    margin-right: 10px;
}