.sf-button-bar
{
    margin-bottom: 16px;
}

.modal-body > .sf-button-bar
{
    margin-top: -5px;
}

.validaton-summary li
{
    list-style: none;
}

/*.modal-footer
{
    margin-top: 0px
}*/

.sf-ok-button
{
    min-width: 70px;
}

.sf-chooser-button
{
    width: 100%;
    margin-bottom: 6px;
}

ul.dropdown-menu li a span.glyphicon {
    margin-left: -10px;
    margin-right: 10px;
    font-size: 11px;
}


a.expand-window {
    float: right;
    cursor: pointer;
    color: lightgray;
    margin-top: 10px;
}

a.expand-window:hover {
    color:gray;
}

.btn-toolbar.right .btn,
.btn-toolbar.right .btn-group,
.btn-toolbar.right .input-group {
  float: right;
}