/*@media (min-width: 768px) {
    .modal-dialog:not(.modal-sm) {
        min-width: 730px;
    }
}*/

@media (min-width: 768px) {
    .modal-md,
    .modal-lg,
    .modal-xl {
        min-width: 730px;
    }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        min-width: 960px;
    }
}

@media (min-width: 1200px) {
    .modal-lg,
    .modal-xl {
        min-width: 1160px;
    }
}

@media (min-width: 1480px) {
    .modal-xl {
        min-width: 1400px;
    }
}

@media (min-width: 1820px) {
    .modal-xl {
        min-width: 1780px;
    }
}

@media (min-width: 2460px) {
    .modal-xl {
        min-width: 2400px;
    }
}

@media (min-width: 3740px) {
    .modal-xl {
        min-width: 3680px;
    }
}

.sf-button-widget-container{
}

.sf-button-bar {
    margin-bottom: 16px;
}

.modal-body > .sf-button-bar {
    margin-top: -5px;
}

.validaton-summary li {
    list-style: none;
}

/*.modal-footer
{
    margin-top: 0px
}*/

.sf-ok-button,
.sf-yes-button,
.sf-no-button {
    min-width: 70px;
}

.sf-chooser-button {
    width: 100%;
    margin-bottom: 6px;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-title{
    overflow: hidden;
    width: 100%;
}

.sf-entity-title {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;
}

button.dropdown-item:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.sf-pointer {
    cursor: pointer;
}

.sf-pointer-events{
    pointer-events: initial !important;
}

.nav-tabs {
    margin-bottom: 1rem;
}

.tab-content .tab-pane {
    padding: 1em;
    margin-top: -1em;
    border: 1px solid #e5e5e5;
    border-top: 0;
}

a.expand-window {
    cursor: pointer;
    color: lightgray;
    margin-top: 10px;
    position: fixed;
    top: 50px;
    right: 6px;
    z-index: 1000;
}

a.expand-window:hover {
    color:gray;
}

.btn-toolbar.right .btn,
.btn-toolbar.right .btn-group,
.btn-toolbar.right .input-group {
  float: right;
}

.btn.disabled[data-operation]{
    pointer-events: initial;
}


.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group,
.btn-toolbar > .dropdown {
    margin-bottom: 3px;
    margin-right: 2px;
}

.code-container {
    direction: ltr;
    text-align: left;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-7 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.sf-quicklinks {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .sf-quicklinks {
        max-width: 300px;
        overflow: hidden;
    }
}

.sf-hide-id {
    opacity: 0;
    transition: opacity 1s ease;
}

.sf-entity-sub-title:hover .sf-hide-id {
    opacity: 1;
}

.card.card-sm .card-header,
.card.card-sm .card-body {
    padding: 0.5em 0.75em;
}

.card.card-xs .card-header,
.card.card-xs .card-body {
    padding: 0.3em 0.5em;
}


.sf-page-container {
  display: flex;
  flex-direction: column;
}

.sf-page-container > div{
    flex-grow: 1;
}

.sf-sticky-header {
    position: sticky;
    top: 0px;
    z-index: 900;
    background: white;
}

.sf-entity-sub-title {
    display: flex;
    flex-wrap: wrap;
}

.sf-frame-modal .modal-title {
    margin-right: -25px;
    overflow: inherit;
}
