body:not(.rtl-mode) .dropdown-item .arrow {
    float: right;
    margin-top: 3px;
}

body.rtl-mode .dropdown-item .arrow {
    float: left;
    margin-top: 3px;
}

.dropdown-item .fa.arrow:before {
    content: "\f104";
}

.dropdown-item.active > .fa.arrow:before {
    content: "\f107";
}


.navbar-nav li a span.icon {
    display: inline-block;
    margin-left: -8px;
    margin-right: 8px;
}

.rtl-mode .navbar-nav li a span.icon {
    margin-left: 8px;
    margin-right: -8px;
}


ul.dropdown-menu li a span.icon {
    margin-left: -10px;
    margin-right: 10px;
}

.rtl-mode ul.dropdown-menu li a span.icon {
    margin-left: 10px;
    margin-right: -10px;
}

.sidebar-nav li a span.icon {
    margin-left: 0px;
    margin-right: 8px;
}

.rtl-mode .sidebar-nav li a span.icon {
    margin-left: 8px;
    margin-right: 0px;
}