body:not(.rtl) .dropdown-item .arrow-align {
    float: right;
    font-size: 11px;
    margin-top: 3px;
}

body.rtl .dropdown-item .arrow-align {
    float: left;
    font-size: 11px;
    margin-top: 3px;
}

.navbar-nav li a span.icon {
    display: inline-block;
    margin-left: -8px;
    margin-right: 8px;
}

.rtl .navbar-nav li a span.icon {
    margin-left: 8px;
    margin-right: -8px;
}

.sidebar-nav li a span.icon {
    margin-left: 0px;
    margin-right: 8px;
}

.rtl .sidebar-nav li a span.icon {
    margin-left: 8px;
    margin-right: 0px;
}