ul.sf-widgets
{
    float:right;
    list-style-type: none;
    margin-top:-34px;
}

body.rtl ul.sf-widgets{
    float:left;
}

.modal-body > ul.sf-widgets
{
    margin-top: -60px;
}

ul.sf-widgets>li
{
    display:block;
    position:relative;
    float: left;
    margin-left: 4px;
}

ul.sf-widgets > li > a:not(.sf-widget-active)
{
    background-color:#ddd;
}

ul.dropdown-menu li a span.sf-alert-active
{
    font-weight:bold;
}

ul.dropdown-menu li a span.sf-alert-alerted.sf-alert-active
{
    color:#FF4400;
}

span.sf-widget-count
{
    padding: 2px;
}

a.badge span.sf-alert-active {
    background: #999;
    border-radius: 10px;
    border: 2px solid #999;
}

a.badge span.sf-alert-active.sf-alert-alerted {
    font-size: 15px;
    padding: 4px;
    background: #FF4400;
}