@using Signum.Entities.Reflection
@using Signum.Engine.Help
@using Signum.Web.Help
@using System.Reflection
@using Signum.Web.Extensions

@{ 
    Node<KeyValuePair<string, PropertyHelp>> ep = (Node<KeyValuePair<string, PropertyHelp>>)Model;
    KeyValuePair<string, PropertyHelp> k = ep.Value;
}
<span class='shortcut'>[p:@(ViewData["EntityName"]).@(k.Key)]</span>
<dt>@k.Value.PropertyInfo.NiceName()</dt>
<dd>
    @Html.WikiParse(k.Value.Info, HelpClient.DefaultWikiSettings)
    @Html.TextArea("p-" + k.Key.Replace("/", "_"), k.Value.UserDescription, new { @class = "editable" })
    <span class="editor" id="p-@k.Key.Replace("/", "_")-editor">@Html.WikiParse(k.Value.UserDescription, HelpClient.DefaultWikiSettings)</span>
</dd>
@if (ep.Children.Count > 0)
{
    <dl class="embedded">
        @foreach (var v in ep.Children)
        {
            Html.RenderPartial(HelpClient.ViewEntityPropertyUrl, v);
        }
    </dl>
} 