@using Signum.Web.Help
<div id="syntax-help">
    <div id="syntax-list">
        Utiliza la siguiente sintaxis:
        <h2>Textos</h2>
        <table>
            <tr><td><b>Texto en negrita</b></td><td>'''Texto en negrita'''</td></tr>
            <tr><td><i>Texto en cursiva</i></td><td>''Texto en cursiva''</td></tr>
            <tr><td><u>Texto subrayado</u></td><td>_Texto subrayado_</td></tr>
            <tr><td><s>Texto tachado</s></td><td>-Texto tachado-</td></tr>
        </table>
        <h2>Listas</h2>
        <table>
            <tr><td><ul><li>Elemento no numerado de lista</li><li>Otro elemento</li></ul></td><td>* Elemento no numerado de lista<br />* Otro elemento</td></tr>
            <tr><td><ol><li>Elemento numerado de lista</li><li>Otro elemento</li></ol></td><td># Elemento numerado de lista <br /># Otro elemento</td></tr>
        </table>
        <h2>Enlaces</h2>
        <table>
            <tr><td><a href="#">Enlace a entidad</a></td><td>[e:EntidadDN]</td></tr>
            <tr><td><a href="#">Enlace a propiedad</a></td><td>[p:EntidadDN.Propiedad]</td></tr>
            <tr><td><a href="#">Enlace a consulta</a></td><td>[q:EntidadQuery.ObtenerDatos]</td></tr>                        
            <tr><td><a href="#">Enlace a operacion</a></td><td>[o:EntidadOperation.Crear]</td></tr>
            <tr><td><a href="#">Enlace a espacio de nombres</a></td><td>[n:Negocio.Entities.Bancos]</td></tr>            
            <tr><td><a href="http://www.google.es">http://www.google.es</a></td><td>[h:http://www.google.es]</td></tr>
            <tr><td><a href="#">Enlace relativo a wiki</a></td><td>[w:Portada]</td></tr>
        </table>
        Los enlaces admiten un parámetro adicional con el texto que se mostrará en el enlace. Ejemplo: <a href="http://www.google.es">Web de Google</a> con [h:http://www.google.es|Web de Google]
        <h2>Imágenes</h2>
        <table>
        <tr><td>Insertar imagen</td><td>[imageright|Pie de foto|imagen.jpg] o [imageright|imagen.jpg] (Opciones imageright, imageleft, imagecentre, imageauto)</td></tr>                        
        </table>
        <h2>Títulos</h2>
        <table>
            <tr><td><h2>Título nivel 2</h2></td><td>==Título nivel 2==</td></tr>
            <tr><td><h3>Título nivel 3</h3></td><td>===Título nivel 3===</td></tr>
            <tr><td><h4>Título nivel 4</h4></td><td>====Título nivel 4====</td></tr>
            <tr><td><h5>Título nivel 5</h5></td><td>=====Título nivel 5=====</td></tr>
        </table>
        Los enlaces admiten un parámetro adicional con el texto que se mostrará en el enlace. Ejemplo: <a href="http://www.google.es">Web de Google</a> con [h:http://www.google.es|Web de Google]
    </div>
</div>
<div class="clearall"></div>
<div class="help_left" style="min-height:1px;">
    <div id="saving-error"><img src="@Url.Content("~/help/Images/icon-warning.png")" /><span class="text"></span></div> 
</div>
<div class="help_right">
   <!-- <a id="refresh" href="javascript:location.reload(true);">Refresca la página para wikificar correctamente el texto modificado</a> -->
    <a id="edit-action" class="action" href="@(HelpClient.Module["edit"]())">Editar</a>
    <a id="syntax-action" class="action" style="display: none">Sintaxis</a>    
    <a id="save-action" class="action" href="@(HelpClient.Module["save"]())" style="display: none">Guardar</a>    
</div>
<div class="clearall"></div>