@using Signum.Entities.Reflection
@using Signum.Engine.Help
@using Signum.Web.Help

@{ NamespaceModel nm = (NamespaceModel)Model;}
<ul>
    <li>
        @if (nm.Types.Count > 0)
        {
            <h2>@Html.ActionLink(nm.ShortNamespace, "ViewNamespace", new { @namespace = nm.Namespace })</h2>
        }
        else
        {
            <h2>@nm.ShortNamespace</h2>           
        }
        @if (nm.Types.Count > 0)
        {  
            <ul>
                @foreach (Type type in nm.Types)
                {
                    string urlName = HelpLogic.EntityUrl(type);
                    string niceName = type.NiceName();
                    <li><a href="@urlName">@niceName</a> </li>
                }
            </ul>
        }
        @if (nm.Namespaces.Count > 0)
        {
            foreach (NamespaceModel item in nm.Namespaces)
            {
                Html.RenderPartial(HelpClient.NamespaceControlUrl, item);
            }
        } </li>
</ul>
