.session {
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
}

.session:hover:not(.active) {
    background-color: #f3f3f3; /* hellgrau */
}

.active {
    border: 2px;
    background-color: #e3e3e3;
}

.scrollContainer {
    border: 1;
    overflow-y: auto;
}

.userMessage {
    background-color: #e0e0e0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: fit-content;
    border-radius: 8px;
}

.userMessage p,
.userMessage h1,
.userMessage h2,
.userMessage h3,
.userMessage ul,
.userMessage ol,
.userMessage blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.typing .dots::after {
    content: '';
    display: inline-block;
    animation: ellipsis 1.2s infinite steps(4);
}

@keyframes ellipsis {
    0% { content: '';}
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
    100% { content: '';}
}
