@using Signum.Entities.Chart
@using (var cc = Html.TypeContext<ChartScriptParameterEntity>())
{
    cc.FormGroupStyle = FormGroupStyle.Basic;

    <div class="form-vertical">
        <div class="col-sm-2">
            @Html.ValueLine(cc, c => c.Name)
        </div>

        <div class="col-sm-2">
            @Html.ValueLine(cc, c => c.Type)
        </div>

        <div class="col-sm-8">
            @Html.ValueLine(cc, c => c.ValueDefinition)
        </div>
    </div>
}
