@using Signum.Entities.Chart
@using (var cc = Html.TypeContext<ChartScriptColumnEmbedded>())
{
    @Html.ValueLine(cc, c => c.DisplayName, vl => vl.ValueColumns = new BsColumn(8))

    using (var sc = cc.SubContext())
    {
    <div class="row">
        <div class="col-sm-6">
            @Html.ValueLine(sc, c => c.ColumnType, vl=> vl.LabelColumns = new BsColumn(4))
        </div>
        <div class="col-sm-3">
            @Html.ValueLine(sc, c => c.IsGroupKey, vl=> vl.LabelColumns = new BsColumn(6))
        </div>
        <div class="col-sm-3">
            @Html.ValueLine(sc, c => c.IsOptional, vl=> vl.LabelColumns = new BsColumn(6))
        </div>
    </div>
    }
}
