@using Signum.Engine
@using Signum.Entities.UserQueries
@using Signum.Web
@using Signum.Web.Chart
@using Signum.Entities.Chart
@using Signum.Entities.DynamicQuery

@using (var e = Html.TypeContext<QueryOrderDN>())
{
    using (var style = e.SubContext())
    {
        style.OnlyValue = true;
    <div style="float: left">
        @Html.ChartTokenBuilder(e.Value, ((TypeContext<UserChartDN>)e.Parent.Parent).Value, (QueryDescription)ViewData[ViewDataKeys.QueryDescription], e)
    </div>
        @Html.ValueLine(style, f => f.OrderType)
    }
}