@using Signum.Engine
@using Signum.Entities.UserQueries
@using Signum.Web
@using Signum.Web.Chart
@using Signum.Entities.Chart
@using Signum.Entities.DynamicQuery
@using Signum.Web.UserQueries
@using (var e = Html.TypeContext<QueryFilterDN>())
{
    var parent = ((TypeContext<UserChartDN>)e.Parent.Parent).Value;
    
    using (var style = e.SubContext())
    {
        style.FormGroupStyle = FormGroupStyle.None;
        <div style="float: left">
            @Html.QueryTokenDNBuilder(e.SubContext(qf=>qf.Token), ChartClient.GetQueryTokenBuilderSettings(
            (QueryDescription)ViewData[ViewDataKeys.QueryDescription], parent.GroupResults, isKey : false))
        </div>
        @Html.ValueLine(style, f => f.Operation)
        @Html.ValueLine(style, f => f.ValueString, vl => vl.ValueHtmlProps["size"] = 20)
    }
} 