@using Signum.Entities.Chart
@using Signum.Web.Chart
@{
    Layout = null;
}

@model TypeContext<ChartScriptDN>

<!DOCTYPE html>

<html>
<head>
    <title>Real-time edit of @Model.Value</title>
</head>
<body>
    <div>
    @Html.Partial(ChartClient.ChartScriptCodeView, Model)
    </div>
</body>
</html>
