
/*Pagination*/

body:not(.rtl) .sf-pagination-left {
    text-align: left;
}


body.rtl .sf-pagination-left {
    text-align: right;
}



.sf-pagination-center {
    text-align: center;
}

body:not(.rtl) .sf-pagination-right {
    text-align: right;
}

body.rtl .sf-pagination-right {
    text-align: left;
}


div.sf-pagination-center > div.form-inline,
div.sf-pagination-right > ul.pagination {
    display: inline-flex;
    padding: 0px;
}

    div.sf-pagination-right > ul.pagination > li > a,
    div.sf-pagination-right > ul.pagination > li > span {
        padding: 0px 6px;
    }

    div.sf-pagination-right > ul.pagination > .disabled > a,
    div.sf-pagination-right > ul.pagination > .disabled > span {
        cursor: default;
    }