.row-container {
    border: 1px solid silver;
}

.row-data {
    padding: 4px 8px;
    position: relative;
}

.row-title {
    font-weight: bold;
    margin-right: 5px;
}

.row-selection {
    margin-right: 5px;
}

.row-header {
    background-color: #eee;
}

.sf-search-control.sf-control-container.mobile .date-cell,
.sf-search-control.sf-control-container.mobile .numeric-cell {
    position: absolute;
    right: 5px;
}

.sf-search-control.sf-control-container.mobile .sf-pagination-right {
    text-align: center;
}
