.status-None
{
    color: red;
}

.status-Pending
{
    color: #ffc300;
}

.status-Completed
{
    color: green;
}


table.st
{
    margin: 20px;
    text-align: left;
}

    table.st th
    {
        border-top: 1px solid #E8EDFF;
        background: #C9D7F1;
        color: #039;
        font-size: 13px;
        font-weight: normal;
        padding: 4px;
    }

    table.st td
    {
        background: #E8EDFF;
        border-top: 1px solid white;
        color: #669;
        padding: 4px;
    }

    table.st select, table.st textarea
    {
        vertical-align:middle;
    }

    table.st thead th
    {
        background: #B9C9FE;
    }

    table.st .leftCell
    {
        font-weight: bold;
        width:1px;
        text-align:right;
    }

    table.st .smallCell
    {
        text-align:right;
        width:1px;
    }

    table.st .titleCell
    {
        font-weight:bold;
    }

    table.st .monospaceCell
    {
        font-family: monospace;
        font-size:14px;
    }

        table.st .monospaceCell pre
        {
            padding:0px;
            color: rgb(102, 102, 153);
            background-color:transparent;
            border:none;
            font-size:14px;
        }

.auto-translate {
    font-size: small;
}

.auto-translate-all {
    font-size: smaller;
}
