
input[type=checkbox],
input[type=radio] {
    width: 16px;
    height: 16px;
}

label > input[type=checkbox],
label > input[type=radio] {
    margin: 0;
    vertical-align: middle;
    margin-bottom: 3px;
}

input[type=checkbox].form-control {
    margin-top: 9px;
}

.checkbox {
    user-select: none;
}

.input-group {
    flex-wrap: nowrap;
}

.form-control.readonly, .form-control:disabled, .form-control[readonly] {
    overflow: hidden;
    background-color: #e9ecef;
    opacity: 1;
}

.form-control.readonly{
    background-color: #e9ecef; /*Not included in bootstrap*/
}


    .form-control.readonly.readonly-textarea {
        height: initial !important;
        white-space: pre-wrap;
    }

.form-control.sf-multi-line {
    height: auto;
    white-space: pre-line;
}

.numeric {
    text-align: right;
}

.sf-calendar-end .rw-calendar-popup {
    left: auto;
    right: -18px;
}

span.sf-today {
    font-weight: bold;
}

.sf-entity-line-entity,
.sf-entity-line-entity:focus {
    background-color: #f8f8f8;
    overflow: hidden;
}

.sf-entity-line .input-group .form-control {
    overflow: hidden;
}

.sf-table {
    margin-bottom: 0;
}

.sf-tab-dropable {
    margin: -10px -15px;
    padding: 10px 15px;
}

.sf-strip-dropable {
    display: flex;
    margin: -1px -12px -1px -12px;
    padding: 1px 12px 1px 12px;
}

li.sf-strip-element {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 2px 5px;
}

.sf-strip-element .sf-strip-link > span {
    display: initial !important;
}

/* Buttons */
/*.btn.btn-default.sf-line-button {
    background: transparent;
}*/
.sf-line-button {
    cursor: pointer;
    color: #b1bac4;
}

    .sf-line-button.input-group-text {
        color: gray;
    }

    .sf-line-button:hover {
        color: gray;
    }

    .sf-line-button:not(.input-group-text) {
        margin: 0 2px;
    }



/* EntityLine buttons  */
.input-group-vertical {
    flex-direction: column;
    align-items: stretch;
}

    .input-group-vertical > .btn {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        margin-left: 0px;
    }

        .input-group-vertical > .btn:first-child:not(:last-child) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

/*legends*/
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0px;
}

    fieldset > legend {
        border: 0px;
        border-radius: 4px;
        padding: 3px 10px 0 10px;
        margin: 0px;
        margin-bottom: -5px;
        font-size: 16px;
        font-weight: bold;
        width: initial;
        float: none;
    }

        fieldset > legend > div > span.pull-right {
            margin-left: 5px;
        }

        fieldset > legend > input[type=checkbox] {
            vertical-align: middle;
        }

.border {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

/*EntityRepeater*/

fieldset.sf-repeater-element {
}

    fieldset.sf-repeater-element legend {
        position: relative;
        padding: 0px 4px;
    }

        fieldset.sf-repeater-element legend .sf-line-button {
            margin-right: 5px;
        }

/*EntityStrip*/

ul.sf-strip-horizontal > li {
    display: inline-block;
    margin-right: 10px;
}

ul.sf-strip-vertical > li {
    margin: 1px 0px;
    width: 100%
}

    ul.sf-strip-vertical > li > .form-control {
        background-color: transparent;
        box-shadow: none;
    }

.sf-strip {
    list-style: none;
    padding: 0px;
    margin-bottom: 7px; /*sf-strip-horizontal*/
}

.sf-strip-element .sf-line-button {
    margin-left: 2px;
}

.sf-strip-input.input-group .sf-line-button {
    margin-left: 4px;
}

label.sf-checkbox-element {
    display: block;
}

label.sf-radio-element {
    display: block;
}

.sf-strip-link {
    margin-left: 4px;
    margin-right: 4px;
}

/*Tabs*/
ul.nav-tabs {
    margin-bottom: 10px;
}


/*Accordion*/

.sf-accordion-element.drag-top >h2 >button {
    box-shadow: inset #AAA 0px 3px 0px 0px !important;
}

.sf-accordion-element.drag-bottom > h2 > button {
    box-shadow: inset #AAA 0px -3px 0px 0px !important;
}

/*.sf-accordion-element {
    padding-bottom: 3px;
}

.sf-accordion-element:first-child {
    padding-top: 3px;
}*/

/*buton colors*/
.sf-create:not(.disabled):hover {
    color: #22BA00;
}

.sf-remove:not(.disabled):hover {
    color: #CF0000;
}

.sf-find:not(.disabled):hover {
    color: #FFCC00;
}

.sf-view:not(.disabled):hover {
    color: #007CE8;
}

.sf-extra:not(.disabled):hover {
    color: #9900E0;
}

.sf-move:not(.disabled):hover {
    color: #9900E0;
    cursor: move;
}
.sf-move:not(.disabled).sf-move-step:hover {
    cursor: pointer;
}

a.sf-move:focus {
    border: 2px solid #656565;
}

.sf-paste:not(.disabled):hover {
    color: #FFCC00;
}

body.rtl .form-group.row > label {
    text-align: end;
}

/*has-error*/

/* Emulating Bootstrap 3 Validation*/
.has-error,
.has-error div.rw-widget-picker.rw-widget-container {
    border-color: #a94442 !important;
}

    .has-error label {
        color: #a94442;
    }

    .has-error input,
    .has-error textarea,
    .has-error select {
        border-color: #a94442;
    }

.form-group {
    margin-bottom: 1rem;
}

.form-group .form-group {
    margin-bottom: 0px;
}

    .form-group .form-group label {
        color: #D8D8D8;
        font-size: 12px;
        margin-bottom: 0px;
    }

/*form xs*/

.form-select.form-select-xs {
    background-position: right 0.2rem center;
    padding: 0px 20px 0px 5px;
}

input[type=checkbox].form-control-xs {
    margin-top: 4px;
}

.form-control-xs,
.input-group-xs > .form-control,
.input-group-xs > .input-group-text,
.input-group-xs > .btn {
    padding: 1px 5px;
    font-size: 0.875rem;
    line-height: 1.5;
    height: 26px;
}

.col-form-label-xs {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.875rem;
    line-height: 1.5;
}



.label-xs {
    font-size: 0.875rem;
    margin-bottom: 0px;
}

.form-control-xs .rw-widget-input,
.rw-widget-xs .rw-widget-input {
    min-height: 24px;
}


.rw-dropdown-list-input {
    padding: 0 0 0 0.4em;
}

.input-group > .form-control.rw-dropdown-list{
    display: flex;
    padding: 0;
}

    .input-group > .form-control.rw-dropdown-list > .rw-widget-input {
        flex: 1;
    }

.form-control-xs .rw-dropdown-list-input,
.rw-widget-xs .rw-dropdown-list-input,
.rw-widget-xs .rw-combobox-input {
    padding: 0 0 0 0.3em;
}

.form-control.form-control-sm.rw-combobox.rw-widget {
    padding: 0px;
}

.rw-widget-xs .rw-input {
    padding: 0 0.4em;
}

.form-control-xs .rw-widget-picker,
.rw-widget-xs .rw-widget-picker {
    min-height: 24px;
}

.form-group.form-group-xs {
    margin-bottom: 5px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 0rem 0.2rem;
    font-size: 0.875rem;
    /*line-height: 1.5;*/
}

/*form sm (adjustments)*/

.label-sm {
    font-size: 0.875rem;
    margin-bottom: 0px;
}

.rw-widget-input{
    width: inherit;
}

.rw-widget-sm .rw-multiselect-input {
    height: inherit;
}

.rw-widget-sm .rw-multiselect-tag {
    min-height: inherit;
}

.rw-widget-sm .rw-widget-input,
.rw-widget-sm .rw-multiselect-input {
    /*    padding: 3px 6px;*/
    min-height: 28px;
}

.rw-widget-sm .rw-multiselect-tag-label,
.rw-widget-sm .rw-multiselect-tag-btn {
    font-size: 13px;
}

.form-control-sm.rw-dropdown-list.rw-widget,
.form-control-sm.rw-combobox.rw-widget {
    padding: 0px;
    min-height: initial;
}

.form-control-sm .rw-widget-picker {
    min-height: 31px;
}

/*.rw-widget-sm .rw-multiselect-input {
    padding: 3px 6px;
    height: 28px;
}*/

.rw-widget-sm .rw-widget-picker {
    min-height: 31px;
}

.input-group > .form-control-plaintext {
    padding-right: 5px;
}

.form-group.form-group-sm {
    margin-bottom: 6px;
}

table .form-group.form-group-sm {
    margin-top: 3px;
    margin-bottom: 3px;
}

.form-floating.form-group-sm > .form-control,
.form-floating.form-group-sm > .form-select {
    height: calc(2.7rem + 2px);
}


.form-floating.form-group-sm > label {
    padding: 0.7rem 0.75rem;
}




/* table non-fluid*/

.table-nonfluid {
    width: auto;
}

/* disabled menu items*/

ul.dropdown-menu > li > a[disabled],
ul.dropdown-menu > li > a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}


.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #737373;
}

.item-group {
    white-space: nowrap;
}

table.sf-multi-value {
    margin-bottom: 0px;
    width: 100%;
}

    table.sf-multi-value > tbody > tr > td {
        padding: 0px;
        padding-bottom: 2px;
    }


.sf-type-badge {
    border: 1px solid gray;
    color: gray;
    display: inline-block;
    padding: 0.2em 0.4em 0.2em 0.4em;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    border-radius: 0.25rem;
    background-color: #efefef;
}

body.rtl .sf-mandatory,
body.rtl .sf-mandatory-widget .rw-input {
    border-right: 2px solid red;
}

body:not(.rtl) .sf-mandatory,
body:not(.rtl) .sf-mandatory-widget .rw-input,
body:not(.rtl) .sf-mandatory-widget .rw-widget-input {
    border-left: 2px solid red;
}

body.rtl .sf-mandatory-warning,
body.rtl .sf-mandatory-warning-widget .rw-input {
    border-right: 2px solid #ffdd00;
}

body:not(.rtl) .sf-mandatory-warning,
body:not(.rtl) .sf-mandatory-warning-widget .rw-input,
body:not(.rtl) .sf-mandatory-warning-widget .rw-widget-input {
    border-left: 2px solid #ffdd00;
}

.rw-dropdown-list .rw-popup-container{
    right: unset;
}

.sf-no-padding {
    padding: 1px !important;
}

.sf-no-border {
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0.25rem 0.5rem;
}

.try-no-wrap{

}

.sf-small-column{
    width: 0%;
    min-width: 36px;
}

@media (min-width: 768px){
    .try-no-wrap {
        white-space: nowrap;
    }
}

.table > :not(:first-child) {
    border-top: initial;
}
