
input[type=checkbox],
input[type=radio] {
    width: 16px;
    height: 16px;
}

label input[type=checkbox],
label input[type=radio] {
    margin: 0;
    vertical-align: middle;
}

input[type=checkbox].form-control {
    margin-top: 9px;
}

.input-group {
    flex-wrap:nowrap;
}

.form-control.readonly {
    background-color: #e9ecef;
    opacity: 1;
}

    .form-control.readonly.readonly-textarea {
        height: initial !important;
        white-space: pre-wrap;
    }

.numeric {
    text-align: right;
}

label > input[type=checkbox] {
    margin: 0px;
    vertical-align: middle;
}

.date-time .input-group.date,
.date-time .input-group.time {
    float: left;
    margin-right: 5px;
}

.input-group.date {
    max-width: 140px;
}

.input-group.time {
    max-width: 100px;
}

    .input-group.time[data-show-seconds=true] {
        max-width: 120px;
    }


.sf-entity-line-entity {
    background: transparent;
    overflow: hidden;
}

.sf-table {
    margin-bottom: 0;
}

.sf-tab-dropable {
    margin: -10px -15px;
    padding: 10px 15px;
}

.sf-strip-dropable {
    margin: -1px -10px -1px 0px;
    padding: 1px 10px 1px 0px;
}
/* Buttons */
/*.btn.btn-default.sf-line-button {
    background: transparent;
}*/
.sf-line-button {
    cursor: pointer;
    color: lightgray;
}

    .sf-line-button.btn {
        color: gray;
    }

    .sf-line-button:hover {
        color: gray;
    }

    .sf-line-button:not(.btn) {
        margin: 0 2px;
    }



/* EntityLine buttons  */
.input-group-append.input-group-vertical {
    flex-direction: column;
    align-items: stretch;
}

    .input-group-append.input-group-vertical > .btn {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        margin-left: 0px;
    }

        .input-group-append.input-group-vertical > .btn:first-child:not(:last-child) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

/*legends*/
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0px;
}

    fieldset > legend {
        border: 0px;
        border-radius: 4px;
        padding: 3px 10px 0 10px;
        margin: 0px;
        margin-bottom: -5px;
        font-size: 16px;
        font-weight: bold;
        width: initial;
    }

        fieldset > legend > div > span.pull-right {
            margin-left: 5px;
        }

        fieldset > legend > input[type=checkbox] {
            vertical-align: middle;
        }

.border {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

/*EntityRepeater*/

fieldset.sf-repeater-element {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 3px;
}

    fieldset.sf-repeater-element legend {
        position: relative;
        padding: 0px 4px;
    }

        fieldset.sf-repeater-element legend .sf-line-button {
            margin-right: 5px;
        }


body.rtl .fa-arrow-right:before {
    content: "\F060";
}

body.rtl .fa-arrow-left:before {
    content: "\F061";
}
/*EntityStrip*/

ul.sf-strip-horizontal > li {
    display: inline-block;
    margin-right: 10px;
}

ul.sf-strip-vertical > li {
    margin: 1px 0px;
    width: 100%
}

    ul.sf-strip-vertical > li > .form-control {
        background-color: transparent;
        box-shadow: none;
    }

.sf-strip {
    list-style: none;
    padding: 0px;
    margin-bottom: 7px; /*sf-strip-horizontal*/
}

    .sf-strip.sf-strip-vertical {
        margin-top: 7px; /*sf-strip-vertical*/
    }


.sf-strip-horizontal > li > * {
    vertical-align: middle;
}

.sf-strip-element .sf-line-button {
    margin-left: 2px;
}

.sf-strip-input.input-group .sf-line-button {
    margin-left: 4px;
}

label.sf-checkbox-element {
    display: block;
}

/*Tabs*/
ul.nav-tabs {
    margin-bottom: 10px;
}


/*buton colors*/
.sf-create:hover {
    color: #22BA00;
}

.sf-remove:hover {
    color: #CF0000;
}

.sf-find:hover {
    color: #FFCC00;
}

.sf-view:hover {
    color: #007CE8;
}

.sf-move:hover {
    color: #9900E0;
    cursor: move;
}

.form-group.row > label {
    text-align: end;
}

/*has-error*/

/* Emulating Bootstrap 3 Validation*/
.has-error,
.has-error div.rw-widget-picker.rw-widget-container {
    border-color: #a94442;
}

    .has-error label {
        color: #a94442;
    }

    .has-error input,
    .has-error textarea,
    .has-error select
    {
        border-color: #a94442;
    }

.form-group .form-group {
    margin-bottom: 0px;
}

    .form-group .form-group label {
        color: #D8D8D8;
        font-size: 12px;
        margin-bottom: 0px;
    }

/*https://github.com/jquense/react-widgets/blob/v4/packages/react-widgets/src/less/dropdown-list.less Disable temporal hack*/
.rw-dropdown-list-input {
    max-width: initial !important;
}

/*form xs*/

select.form-control-xs:not([size]):not([multiple]),
.input-group-xs > select.form-control:not([size]):not([multiple]),
.input-group-xs > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-xs > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-xs > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-xs > .input-group-append > select.btn:not([size]):not([multiple]) {
    height: 24px;
    padding: 0 2px
}

.form-control-xs,
.input-group-xs > .form-control,
.input-group-xs > .input-group-prepend > .input-group-text,
.input-group-xs > .input-group-append > .input-group-text,
.input-group-xs > .input-group-prepend > .btn,
.input-group-xs > .input-group-append > .btn {
    padding: 1px 5px;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.col-form-label-xs {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.875rem;
    line-height: 1.5;
}

.label-sm {
    font-size: 0.875rem;
    margin-bottom: 0px;
}

.label-xs {
    font-size: 0.875rem;
    margin-bottom: 0px;
}

/*.form-xs .form-control,
.form-xs .form-control-static {
    padding: 0px 3px;
}


    .form-xs .form-control:not(textarea) {
        height: 20px;
        min-height: inherit;
    }

    .form-xs .form-control.readonly.readonly-textarea {
        min-height: 20px;
    }

.form-xs .input-group-btn .btn {
    height: 20px;
}


.form-xs .form-control-static {
    min-height: inherit;
}

.form-xs .sf-query-token-builder {
    height: 20px;
    margin-bottom: -3px;
}

.form-xs select[multiple],
.form-xs select[size] {
    height: auto;
}

.form-xs input[type=checkbox].form-control {
    height: 16px;
    margin-top: 2px;
    padding: 2px;
}

.form-xs .input-group .btn,
.form-xs .input-group .input-group-addon {
    padding: 0px 3px;
    height: 20px;
}*/

.rw-widget-xs .rw-input {
    padding: 0px 3px;
    height: 18px;
}

.rw-widget-xs .rw-widget-picker {
    height: 24px;
    line-height: 10px;
}

.rw-widget-xs .rw-select {
    vertical-align: top;
}

.form-group.form-group-xs {
    margin-bottom: 5px;
}


/*.form-xs .sf-strip {
    margin-bottom: 0px;
}

    .form-xs .sf-strip.sf-strip-vertical {
        margin-top: 0px; //sf-strip-vertical
    }*/

/*

.form-xs fieldset > legend {
    padding: 0px 4px 0 4px;
    font-size: 16px;
}*/


/*form sm*/

/*.form-sm .form-control,
.form-sm .form-control-static {
    padding: 2px 6px;
}

    .form-sm .form-control:not(textarea) {
        height: 26px;
        min-height: inherit;
    }

    .form-sm .form-control.readonly.readonly-textarea {
        min-height: 26px;
    }

.form-sm .input-group-btn .btn {
    height: 26px;
}

.form-sm .form-control-static {
    min-height: inherit;
}

.form-sm .sf-query-token-builder {
    height: 26px;
}

.form-sm select[multiple],
.form-sm select[size] {
    height: auto;
}


.form-sm input[type=checkbox].form-control {
    height: 16px;
    padding: 0px;
    margin-top: 4px;
}

.form-sm .input-group .btn,
.form-sm .input-group .input-group-addon {
    padding: 2px 4px;
}
*/

.rw-widget-sm .rw-input {
    padding: 3px 6px;
    height: 28px;
}

.rw-widget-sm .rw-widget-picker {
    height: 31px;
}

.input-group > .form-control-plaintext {
    padding-right: 5px;
}
/*
.form-sm .sf-strip {
    margin-bottom: 4px;
}

    .form-sm .sf-strip.sf-strip-vertical {
        margin-top: 6px; //sf-strip-vertical
    }

.form-group.form-sm {
    margin-bottom: 5px;
}


.form-sm fieldset > legend {
    padding: 2px 5px 0 5px;
    font-size: 18px;
}
*/
.form-group.form-group-sm {
    margin-bottom: 6px;
}

/*form-inline*/
.form-inline .sf-query-token-builder {
    vertical-align: middle;
}

/* table non-fluid*/

.table-nonfluid {
    width: auto;
}

/* disabled menu items*/

ul.dropdown-menu > li > a[disabled],
ul.dropdown-menu > li > a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}


.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #737373;
}

.item-group {
    white-space: nowrap;
}

table.sf-multi-value {
    margin-bottom: 0px;
    width: 100%;
}

    table.sf-multi-value > tbody > tr > td {
        padding:0px;
        padding-bottom: 2px;
    }
