
input[type=checkbox],
input[type=radio] {
    width: 16px;
    height: 16px;
}

label > input[type=checkbox],
label > input[type=radio] {
    margin: 0;
    vertical-align: middle;
    margin-bottom: 3px;
}

input[type=checkbox].form-control {
    margin-top: 9px;
}

.input-group {
    flex-wrap: nowrap;
}

.form-control.readonly, .form-control:disabled, .form-control[readonly] {
    overflow: hidden;
    background-color: #e9ecef;
    opacity: 1;
}

    .form-control.readonly.readonly-textarea {
        height: initial !important;
        white-space: pre-wrap;
    }

.numeric {
    text-align: right;
}

.date-time .input-group.date,
.date-time .input-group.time {
    float: left;
    margin-right: 5px;
}

.input-group.date {
    max-width: 140px;
}

.input-group.time {
    max-width: 100px;
}

    .input-group.time[data-show-seconds=true] {
        max-width: 120px;
    }

.sf-entity-line-entity,
.sf-entity-line-entity:focus {
    background-color: #f8f8f8;
    overflow: hidden;
}

.sf-entity-line .input-group .form-control {
    overflow: hidden;
}

.sf-table {
    margin-bottom: 0;
}

.sf-tab-dropable {
    margin: -10px -15px;
    padding: 10px 15px;
}

.sf-strip-dropable {
    margin: -1px -10px -1px 0px;
    padding: 1px 10px 1px 0px;
}

li.sf-strip-element {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 2px 5px;
}

/* Buttons */
/*.btn.btn-default.sf-line-button {
    background: transparent;
}*/
.sf-line-button {
    cursor: pointer;
    color: lightgray;
}

    .sf-line-button.btn {
        color: gray;
    }

    .sf-line-button:hover {
        color: gray;
    }

    .sf-line-button:not(.btn) {
        margin: 0 2px;
    }



/* EntityLine buttons  */
.input-group-append.input-group-vertical {
    flex-direction: column;
    align-items: stretch;
}

    .input-group-append.input-group-vertical > .btn {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        margin-left: 0px;
    }

        .input-group-append.input-group-vertical > .btn:first-child:not(:last-child) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

/*legends*/
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0px;
}

    fieldset > legend {
        border: 0px;
        border-radius: 4px;
        padding: 3px 10px 0 10px;
        margin: 0px;
        margin-bottom: -5px;
        font-size: 16px;
        font-weight: bold;
        width: initial;
    }

        fieldset > legend > div > span.pull-right {
            margin-left: 5px;
        }

        fieldset > legend > input[type=checkbox] {
            vertical-align: middle;
        }

.border {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

/*EntityRepeater*/

fieldset.sf-repeater-element {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 3px;
}

    fieldset.sf-repeater-element legend {
        position: relative;
        padding: 0px 4px;
    }

        fieldset.sf-repeater-element legend .sf-line-button {
            margin-right: 5px;
        }

/*EntityStrip*/

ul.sf-strip-horizontal > li {
    display: inline-block;
    margin-right: 10px;
}

ul.sf-strip-vertical > li {
    margin: 1px 0px;
    width: 100%
}

    ul.sf-strip-vertical > li > .form-control {
        background-color: transparent;
        box-shadow: none;
    }

.sf-strip {
    list-style: none;
    padding: 0px;
    margin-bottom: 7px; /*sf-strip-horizontal*/
}

.sf-strip-element .sf-line-button {
    margin-left: 2px;
}

.sf-strip-input.input-group .sf-line-button {
    margin-left: 4px;
}

label.sf-checkbox-element {
    display: block;
}

label.sf-radio-element {
    display: block;
}

/*Tabs*/
ul.nav-tabs {
    margin-bottom: 10px;
}


/*buton colors*/
.sf-create:not(.disabled):hover {
    color: #22BA00;
}

.sf-remove:not(.disabled):hover {
    color: #CF0000;
}

.sf-find:not(.disabled):hover {
    color: #FFCC00;
}

.sf-view:not(.disabled):hover {
    color: #007CE8;
}

.sf-extra:not(.disabled):hover {
    color: #9900E0;
}

.sf-move:not(.disabled):hover {
    color: #9900E0;
    cursor: move;
}
.sf-move:not(.disabled).sf-move-step:hover {
    cursor: pointer;
}

body.rtl .form-group.row > label {
    text-align: end;
}

/*has-error*/

/* Emulating Bootstrap 3 Validation*/
.has-error,
.has-error div.rw-widget-picker.rw-widget-container {
    border-color: #a94442 !important;
}

    .has-error label {
        color: #a94442;
    }

    .has-error input,
    .has-error textarea,
    .has-error select {
        border-color: #a94442;
    }

.form-group .form-group {
    margin-bottom: 0px;
}

    .form-group .form-group label {
        color: #D8D8D8;
        font-size: 12px;
        margin-bottom: 0px;
    }

/*https://github.com/jquense/react-widgets/blob/v4/packages/react-widgets/src/less/dropdown-list.less Disable temporal hack*/
.rw-dropdown-list-input {
    max-width: initial !important;
}

/*form xs*/

select.form-control-xs:not([size]):not([multiple]),
.input-group-xs > select.form-control:not([size]):not([multiple]),
.input-group-xs > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-xs > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-xs > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-xs > .input-group-append > select.btn:not([size]):not([multiple]) {
    height: 24px;
    padding: 0 2px
}

input[type=checkbox].form-control-xs {
    margin-top: 4px;
}

.form-control-xs,
.input-group-xs > .form-control,
.input-group-xs > .input-group-prepend > .input-group-text,
.input-group-xs > .input-group-append > .input-group-text,
.input-group-xs > .input-group-prepend > .btn,
.input-group-xs > .input-group-append > .btn {
    padding: 1px 5px;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    height: 24px;
}

.col-form-label-xs {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.875rem;
    line-height: 1.5;
}



.label-xs {
    font-size: 0.875rem;
    margin-bottom: 0px;
}

.rw-widget-xs .rw-widget-input {
    min-height: 24px;
}

.rw-widget-xs .rw-dropdown-list-input {
    padding: 0 0.4em;
}

.rw-widget-xs .rw-widget-picker {
    min-height: 24px;
}

.form-group.form-group-xs {
    margin-bottom: 5px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 0rem 0.2rem;
    font-size: 0.875rem;
    /*line-height: 1.5;*/
    border-radius: 0.2rem;
}

/*form sm (adjustments)*/

.label-sm {
    font-size: 0.875rem;
    margin-bottom: 0px;
}

.rw-widget-input {
    width: inherit;
}

.rw-widget-sm .rw-widget-input {
    /*    padding: 3px 6px;*/
    min-height: 28px;
}

.rw-widget-sm .rw-widget-picker {
    min-height: 28px;
}

.input-group > .form-control-plaintext {
    padding-right: 5px;
}

.form-group.form-group-sm {
    margin-bottom: 6px;
}

/*form-inline*/
.form-inline .sf-query-token-builder {
    vertical-align: middle;
}

/* table non-fluid*/

.table-nonfluid {
    width: auto;
}

/* disabled menu items*/

ul.dropdown-menu > li > a[disabled],
ul.dropdown-menu > li > a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}


.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #737373;
}

.item-group {
    white-space: nowrap;
}

table.sf-multi-value {
    margin-bottom: 0px;
    width: 100%;
}

    table.sf-multi-value > tbody > tr > td {
        padding: 0px;
        padding-bottom: 2px;
    }


.sf-type-badge {
    border: 1px solid gray;
    color: gray;
    display: inline-block;
    padding: 0.3em 0.4em 0.1em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    border-radius: 0.25rem;
    background-color: #efefef;
}

body.rtl .sf-mandatory,
body.rtl .sf-mandatory-widget .rw-input {
    border-right: 2px solid red;
}

body:not(.rtl) .sf-mandatory,
body:not(.rtl) .sf-mandatory-widget .rw-input {
    border-left: 2px solid red;
}

.sf-no-padding {
    padding: 1px !important;
}

.sf-no-border {
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0.25rem 0.5rem;
}
