.sf-widgets {
    list-style-type: none;
    display: flex;
   
    font-size: 1rem!important;
    margin-left:auto;
    padding:0px;
    margin-bottom: 0px;
    background: none;
    flex-wrap: wrap;
    align-items: center;
}

body.rtl .sf-widgets {
   float:left;
}

.sf-widgets > * {
    margin-left: 4px;
}

badge.badge-pill{
    border-radius: 50rem;
}
